<p>
  Cherisa is a native of the Virgin Islands and has a background in fiscal, operational and personnel management.
</p>
<p>
  She received her MBA from North Carolina Central University in 2012.  In her spare time, she enjoys volunteering, reading and spending precious moments with her daughter.  In the future, Cherisa hopes to expand her horizons by achieving her entrepreneurial dreams.
</p>
