<div class="col s12 green-text text-darken-4">
    <h3>Featured Panel Moderator</h3>
    <div class="card-panel z-depth-1 bio-card">
      <div class="bio-image-container">
        <img src={{moderator.image}} alt="Moderator Image">
      </div>
      <div class="bio-content">
        <h4>{{moderator.moderatorTitle}}</h4>
        <p>{{moderator.bio}}</p>
      </div>
    </div>
  </div>
