        <footer class="page-footer green">
          <div class="container">
            <div class="row">
              <div class="col s12 white-text text-right">
                <p>
                	Have Questions?
                </p>
                <p>
                	Email us - <a href="mailto:hi@venturehacked.com" class="white-text">hi@venturehacked.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            </div>
          </div>
        </footer>
            