<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/girls.jpg" alt="Wingman Notebeook">
</div>
<div class="col s3 sponsor-images">
	<img src="img/sponsor/team.jpg" alt="Picture of People Networking">
</div>
<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/panel.jpg" alt="Venture Hacked Speaking">
</div>
<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/pitching.jpg" alt="Perkins Coie Sign">
</div>
