
<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/wingman-notebook.jpg" alt="Wingman Notebeook">	
</div>
<div class="col s3 sponsor-images">
	<img src="img/sponsor/networking.jpg" alt="Picture of People Networking">	
</div>
<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/venture-hacked-speaking.jpg" alt="Venture Hacked Speaking">	
</div>
<div class="col s3 sponsor-images hide-on-small-only">
	<img src="img/sponsor/perkins-coie-sign.jpg" alt="Perkins Coie Sign">	
</div>
