<div class="row sponsor-logo text-center">
	<div class="col s12 m12 l6">
		<img class="responsive-img" src="img/perkins-coie-logo.JPG" alt="Perkins Coie">
	</div>
	<div class="col s12 m12 l6">
		<img class="responsive-img" src="img/navisocial-logo.png" alt="Navisocial">
	</div>
</div>
