<div class="row sponsor-logo text-center">
	<div class="col s6 m6 l6">
		<a href="http://perkinscoie.com"><img class="responsive-img" src="img/perkins-coie-logo.JPG" alt="Perkins Coie"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://hqraleigh.com"><img class="responsive-img" src="img/hqraleigh.png" alt="HQ Raleigh"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://brothersvilgalys.com/"><img class="responsive-img" src="img/bvs.jpg" alt="BVS"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://modern-web.org"><img class="responsive-img" src="img/modernweb.jpg" alt="Modern Web"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://navisocial.com"><img class="responsive-img" src="img/navisocial-logo.png" alt="Navisocial"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://otsi-usa.com"><img class="responsive-img" src="img/sponsor/otsi-logo.png" alt="OTSI"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://insperity.com"><img class="responsive-img" src="img/sponsor/insperity-logo.jpg" alt="Insperity"></a>
	</div>
	<div class="col s6 m6 l6">
		<a href="http://thelaunchplace.org"><img class="responsive-img" src="img/sponsor/the-launch-place.jpg" alt="The Launch Place"></a>
	</div>

</div>
