This article was written by <a href="http://twitter.com/ladyleet">Tracy Lee</a>, a serial entrepreneur with over 14 years of
experience in the startup space. Tracy spends her time focused on bringing entrepreneurs and investor together through
Venture Hacked. Her current ventures include <a href="http://modern-web.org">Modern Web</a> and <a href="http://navisocial.com">Navisocial</a>.
Tracy sits on the board of <a href="http://hackerdojo.com">Hacker Dojo</a> in the Silicon Valley and recently sold her
startup, <a href="http://dishcrawl.com">Dishcrawl</a>, to <a href="http://dinnerlab.com">DinnerLab</a> (Dec 2015).
In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, play with
<a href="http://emberjs.com">EmberJS</a> and spends her time making add-ons
and pairing with friends.
