@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}


.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media #{$medium-and-up} {
  .container {
    width: $small-screen;
  }
}

@media #{$large-and-up} {
  .container {
    width: $medium-screen;
  }
}
$logo_size: 80px;

.logo-styling {
  height: $logo_size;
  width: $logo_size;
  border-radius: $logo_size/2;
  margin: 10px;
}	

$sponsor_logo: 400px;
.sponsor-logo img {
	width: $sponsor_logo;
}

.text-center{
	text-align: center;
}

.sponsor-images img{
	height: 350px;
}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.article-content-text{
  text-align: right;
}
.article-card-height .card{
    position: relative;
    .card-title {
      line-height: 34px;
    }
    .card-content { 
      margin-bottom: 35px;
      p {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;

      }
    }
  }
@media #{$large-and-up} {
  .article-card-height .card{
    height: 470px;
  }
}
@media #{$medium-only} {
  .article-card-height .card{
    height: 370px;
  }
}
.article-content{
  font-size: 16px;
  li {
    margin-left: 15px;
    line-height: 40px;
  }
  img {
    @extend .responsive-img;
  }
}

main {
  margin-top: 60px;
}
.font-large{
  font-size: 1.2em;
}
.margin-top{
  margin-top: 50px;
}
.margin-article h4{
  margin-top: 50px;
}

@media #{$large-and-up} {
  .investor-content {
     &.investor-card-height .card {
      height: 400px;
    }
  }
}
@media #{$medium-only} {
  .investor-content {
     &.investor-card-height .card {
      height: 440px;
    }
  }
}

.investor-content {
     &.investor-card-height .col {
      .card-title {
        font-size: 1.2rem;
      }
    }
  }
@media #{$large-and-up} {  
  .event-content-card-height .card-panel{
    height: 340px;
  }
}

@media #{$large-and-up} {
  .card-height-615-lg .card-panel {
    height: 615px;
  }
}