<p>
  Raising money can be one the most difficult and intimidating activities for any startup, from

  relationship building to the many complexities involved in the financial process.  We recently did

  a Q&amp;A session with Braden Rawls, CEO and co-founder of the Raleigh based Vital Plan who

  shared her expertise in this area.  Braden’s tips and feedback begins with her own experience

  raising capital for Vital Plan.
</p>

<h4 class="margin-top">About Braden Rawls</h4>

<p>
  Braden Rawls is the CEO and co-founder of Vital Plan, a rapidly-growing health and wellness

  company committed to offering quality natural supplements and credible health information to

  the market.  Braden and Vital Plan are on a mission to help individuals restore their health

  through natural therapies and guided online programs.  Braden received her Bachelors of Arts

  UNC-Chapel Hill with a focus on public relations and entrepreneurship.
</p>

<p class="margin-top center-align">
  <img src="img/articles/braden-rawls.jpg" alt="Braden Rawls">
</p>

<h4 class="margin-top">How did you get started and how did you become involved in the investor/startup community?</h4>

<p>
  For me I started when I was in college. I heard about a minor in entrepreneurship that I could

  add to a public relations journalism major.  I didn’t know what I wanted to do and this turned out

  to be nice and broad—it exposed me to the world of doing business and this mindset of solving

  problems.  
</p>

<p>
  In this course, we went through all of the world’s greatest problem solvers who had

  become entrepreneurs through tackling new problems and solving new challenges.  I thought

  that was really cool and wanted to make a career of becoming a problem solver.  I then started

  taking accounting and business courses to compliment what I learned in public relations.  I also

  learned the power of networking—I started meeting with other entrepreneurs in the Triangle

  area when I was at UNC through their entrepreneurship program.  I was really impressed by the

  energy and posture of everybody we met and that’s when I decided I wanted to become an

  entrepreneur after graduation.  It took a few years before I actually started digging in my heels

  but it was definitely the goal to get involved with a startup.
</p>


<h4 class="margin-top">Can you talk about your fundraising experience in the early stages of your company?  What did you learn?</h4>

<p>
  So fundraising in the early days was actually much easier. We connected with a few individuals

  who were excited that we wanted to create this natural herbal company and wellness program.

   Our first couple of investors came on through an existing relationship and believing in our idea

  rather than trying to look at metrics and growth.  They saw the possibility and they were really

  investing in us –people with a passion to create a company.  I think that as you move along with

  additional rounds of funding, investors get much more centered around metrics and growth and

  sales. At that point, it’s a different sell because you have to sell the story from the sales and

  growth data perspective. It becomes less about the founder’s business and more about the

  metrics.

</p>

<p>
  One of the biggest things that I’ve learned is to be patient with fundraising. I think that a lot of it

  is about relationship building. It’s important to start planning long before you approach someone

  for money.  We had our first go round at the friends and family level and sharing the vision.

   Once you’ve got your sights on additional investors it’s important to relationship build—meeting

  them for coffee, trying to be helpful wherever you can and getting to know important things

  they’re working on. When you do get to a level where it makes sense to fundraise, it’ll be a

  much more comfortable relationship and they’ll already know who you are.  One of the mistakes

  I made earlier on was quickly diving into the fundraising conversations before realizing the

  importance of getting to know the investors that will be right for our company.
</p>

<h4 class="margin-top">
  Diving deeper into fundraising process, can you first explain the stages of fundraising? What is most important about each stage?
</h4>

<p>
  So we did the typical friends and family round and the angel investor round which was really a

  convertible note.  That would be considered our seed round.  Now we’re in Series A.  This is a

  round that is heavily driven by metrics. So by the time we get there we’ll have lots of data to

  create our metrics, set goals, and determine what we need money for. The seed funding is what

  allowed us to get to this point.  Those are the people who invested in us, the vision, and gave us

  the ability to pilot and prove the model.  The model is what we’ll now take to our Series A.

  What is the timeline? Can you give us a sense of how long this process should take?
</p>

<p>
  I think that the better metrics you have, the easier it is to fundraise. It’s important to keep your

  numbers well documented from your pilot so that when you fundraise, it’s really clear how the

  pilot works and how the money will be used.  If you have strong numbers and you’ve previously

  built relationships with investors, it is not unreasonable to be able to close a round within two to

  three months.  I think one of our rounds lasted much longer than I expected and it was because

  we didn’t have as many warm relationships as would have been optimal.  
</p>

<p>
  So my advice for someone else is if you’ve got warm relationships and you’ve got really good data you can

  expect to close within a couple of months.  The more prepared you are, the less questions you’ll

  receive and the faster you can close.
</p>

<h4 class="margin-top">
  How do you determine how much funds to raise in each round?
</h4>

<p>
  You want to raise enough so that you can meet your objectives, perform the pilot and have a

  little bit of extra on hand for those unexpected things that come up.  Things are never going to

  go perfectly so you’ll need a little bit of extra funds.  But of course, you don’t want to raise way

  more than you need because then you’re diluting your company unnecessarily.  So say that you

  think you’re going to need $100,000 for your pilot, you should probably plan to raise $150,000.

   You wouldn’t want to raise a million dollars at that point—you probably won’t be able to get it

  but even if you could, it would make sense to have just what you need to prove out that pilot,

  gather the metrics and have a bit extra.  So you really want to raise whatever funding you need

  to get the metrics that will allow your company to have a higher evaluation on that next round.
</p>

<h4 class="margin-top">
  How do you identify the goals to accomplish between each round?
</h4>

<p>
  You want to look at what is going to make your next round more valuable.  Is it having more

  customers, clearer metrics, a better model, or customer reviews? Is it just straight revenue run

  rate? You want to determine what’s going to make your company more valuable so that you go

  from a million-dollar valuation to a ten million-dollar valuation.  Then detailing what you need to

  get those metrics—staffing for instance and giving yourself leeway for a worst case scenario.
</p>

<h4 class="margin-top">
  Can you talk more about the metrics that investors typically look for?
</h4>

<p>
  Yes, so there’s the cost per acquisition (CPA). That is when you go out and start marketing.

   You want to quantify your marketing to figure out the lifetime value and the average spend of a

  new user.  They want to see expenses, revenue and ultimately if you have a profitable model.
</p>

<h4 class="margin-top">Get to Know Braden Rawls and Vital Plan</h4>

<p>
  Be sure to follow Braden Rawls on twitter <a href="http://twitter.com/BradenRawls">@BradenRawls</a> and Vital Plan <a href="http://twitter.com/VitalPlan">@VitalPlan</a>.
</p>

<p class="margin-top center-align">
  <img src="img/articles/vital-plan-products.jpg" alt="Vital Plan">
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{cherisa-bio}}
</p>
