<p>
Now in its 16th year, Intel Capital Global Summit hosts more than 1,000 entrepreneurs, business leaders and industry executives for networking and company-building.	
</p>

<p>
“What sets Intel Capital apart is the way our global network drives innovation across the technology spectrum,” said Arvind Sodhani, Intel executive vice president and outgoing president of Intel Capital. “As I prepare to retire after a 35-year career at Intel, I’m proud to say we’ve built Intel Capital into one of the largest, most successful and most influential venture investment groups on the planet.”	
</p>

<p>
	In interviewing dozens of Intel Capital portfolio companies, the common denominator when speaking about Intel Capital and the value provided are the doors Intel has been able to open for the companies they’ve invested in. Additional value-adds that have resonated with founders of portfolio companies have been Intel Capital’s help with supply chain management to giving insight into next generation industry standards. These items combined have helped propel Intel portfolio companies into successful startup journeys.
</p>

<h5 class="margin-top">Telink</h5>

<p><strong>How Intel has helped Telink</strong></p>
<p>
I spoke with Zi Xuzhen, the VP of Systems at Telink (based out of Shanghai, China) about their product and how Intel Capital has provided immeasurable value in the short amount of time they have been a portfolio company. With Intel’s recent investment this past September, he raves that they have already helped bring in major customers and created exposure opportunities to many customers. “We are very appreciative of the support Intel provides.” says Xuzhen.	
</p>

<p><strong>Why Telink is Awesome</strong></p>
<p>
	Telink provides IoT chips. There are a few key differentiating factors of how Telink differentiates themselves in the market. For one, their chip cost is very low to manufacture so they are able to compete with any other provider on the cost side. More importantly, their chip can run multiple protocols at the same time. IoT is a very crowded space with ZigBee, BLE, Apple Homekit, and Google Thread, but their chip allows all to work with one another and run on the same chip platform at the same time.
</p>

<p>
	Telink can also support multiple smartphones and keep track of status in the system. Their chip can be integrated into any smarthome device and be controlled with Zigbee, BLE, and the like.
</p>

<p>
	Telink also provides reference designs to others. They will work directly with companies like GE on design of electronic parts that work with their chips.
</p>


<h5 class="margin-top">Avogy</h5>

<p><strong>How Intel has helped Avogy</strong></p>

<p>
	“Intel has been great at helping introduce us to contacts in the PC and OEM space which helps us reach the right decision makers to discuss business opportunities.” says Chris Loeper, the EVP of Sales and Marketing for Avogy. Participating in Avogy’s Series B round, Intel Capital has given Avogy the capital to build out a great company. 
</p>

<p>
	Intel has also helped Avogy with industry standards and helped the team understand things that are coming or that are on the radar so when they develop their roadmap, they are better prepared for the future. 
</p>

<p><strong>Why Avogy is Awesome</strong></p>

<p>
	Avogy makes any power supply smaller and works with brands like Amazon, Ingram Micro, NewEgg, and Best Buy to name a few. They also sell directly to consumers.
</p>

<p>
	“We are going into a category that is very well defined are looking to disrupt that category with our technology. We’ve created the world’s smallest laptop and multi-device charger and have about 55 issued patents that make the power supply really small and highly efficient. It replaces the big heavy bricks we are used to.”
</p>

<h5 class="margin-top">Altia Systems</h5> 

<p><strong>How Intel has helped Altia</strong></p>

<p>
	Shahab Baqai is a Senior Media Architect at Altia. At Altia, he looks after video and audio streams, how they are handled, and how they adapt to resource limitations.
</p>

<p>
	“We’ve been working with Intel Capital for 2 years now and they were an integral participant in helping us with our Series B. They have enabled us to have opportunities like the Global Summit to interface with potential investors and clients. Events like this help expose us to the right level of people in enterprise and the right individuals.” says Shahab. 
</p>

<p>
	Shahab also mentions how the number of events that Intel throws has been helpful in the sense that it allows Altia to take their product from the drawing board and demonstrate to the actual decision makers which helps them gain product adoption.
</p>

<p>
	As a portfolio company, Altia also gets to work with teams at Intel to incorporate their product into Intel products like Unite. Intel helps them leverage Intel software development libraries for more efficient encoding and streaming.
</p>

<p><strong>Why Altia is Awesome</strong></p>

<p>
	Altia just launched the Panacast 2, a panoramic camera with a 180 degree field view. The Panacast is the industry’s first real time video camera with a resolution of 4k that can work with any incumbent video conferencing tools such as GoToMeeting and Skype. Panacast brings a panoramic viewpoint to any conference. 
</p>

<p>
	“The natural flow of meetings is typically interrupted with webcams, and even with rotational cameras. To actually get the feeling of being there, you need to be able to look around and get a feel of the entire room. Panacast solves this. Our camera has been deployed for home security, distance learning in remote classrooms, and even for telemedicine." 
</p>

<h5 class="margin-top">Chargifi </h5>

<p><strong>How Intel has helped Chargifi</strong></p>

<p>
	Chris Marshall, Head of Sales and Marketing and Tom Gregorio, Head of Product were at Intel Capital’s Global Summit demoing Chargifi. They were excited about how Intel has helped connect them with manufacturers and how they have helped guide the team with introductions to the right partners.
</p>

<p>
	Another key benefit of Chargifi being an Intel Capital portfolio company is Intel’s involvement with Rezence (now AirFuel Alliance). Intel has been a huge wireless charging supporter and has been laying the groundwork for the infrastructure. Helping Chargifi understand the dynamics of getting to market has proven invaluable.
</p>

<p>
	“Intel understands manufacturing and with the many pieces that have to be manufactured, they help us understand what bumps in the road we may face.” 
</p>

<p><strong>Why Chargifi is Awesome</strong></p>

<p>
	Chargifi is smart wireless charging with a built in smart software layer that allows Chargifi to share out the data to all of their venue partners and owners of the venue. The software will measure how much power is being put through charge spots, what’s being used and what’s not, how often things are being used, and most active days of week.
</p>

<p>
	Chargifi works through magnetic resonant charging, which has higher power over further distances. It also has quicker charging because it allows more power to be pushed to the devices. The technology is different than what we see at Starbucks, who is using a technology called PMA. 
</p>

<p>
	To find out more about Intel Capital’s portfolio companies, visit their <a href="http://www.intelcapital.com/portfolio/#/sector=QWxs/location=QWxs/role=QWxs/page=0/term=">portfolio page</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>




