<p>
	<img src="img/perkins-coie-logo.JPG" alt="Perkins Coie Logo">
</p>
<p class="margin-top">
	Daphne Higgs is a partner in Perkins Coie’s Technology Transactions &amp; Privacy group. Daphne specializes in media and entertainment and focuses on helping companies maximize the commercial exploitation their IP. 	
</p>
<p>
	From saas agreements to distribution agreements, content to talent acquisition, and other agreements such as music licenses, master services agreements, reseller agreements, development agreements, and affiliate agreements, her specialized focus allows her to best serve companies she works with.
</p>

<p>“We’re different than most firms,” says Daphne. “Because we focus on technology, we provide our clients with a competitive advantage.”</p>

<p>
	Daphne explains that most lawyers do not understand technology, therefore they are not as well suited to effectively craft agreements that serve their technology clients best.
</p>

<p>
	“When we have a startup as a client, we will go to their offices and sit down with the core team to understand the technology. If we don’t understand the technology and how they are going to make money, we don’t feel like we are doing our jobs. Also, understanding the personalities of the team allows us to understand their risk tolerance when drafting contracts. The better we can understand the business, the more effective we are going to be at creating documents that reflect the true nature of the business.”
</p>

<h4 class="margin-top">Mistakes Entrepreneurs Make</h4>

<h5 class="margin-top">1. Not owning your IP</h5>

<p>
	If you have a developer build your product but do not have paperwork to say the work is allocated to the company, this can be a big problem when it comes to financing.
</p>

<h5>2. Accidentally creating an employee/employer relationship</h5>	

<p>
	This one is unique to California. When your company is initially set up, you will have people sign a PIIA. In California, if a consultant signs a PIIA and it states “work for hire”, the implication is “employer”. You can become liable for benefits and other employee related fees. This is a common mistake lawyers make who are not on top of the law.
</p>

<h5>3. Not understanding industry standards</h5>

<p>
	Many times entrepreneurs will move from one industry to another and make the mistake that the industry standards are the same. One entrepreneur recently came to me excited that he got his liability capped at 3x. I wish he had talked to me beforehand, because what he didn’t realize is that having liability capped at 3x in that particular industry is actually not that great. A great example is that there are strong caps in the cloud world, but you don’t see that in enterprise saas.
</p>

<h5>4. Privacy policies and acquisitions</h5>

<p>
	If your privacy policy fails to say you can share customer information with a potential acquirer, you might be putting yourself at risk of an acquisition falling through. I’ve seen this harm some acquisition deals with large corporations before.
</p>

<h5>5. TOS &amp; DMCA mistakes</h5>

<p>
	A lot of corporations may think they have the perfect TOS because it has beautiful DMCA language in it. But many do not realize they are not protected until they are registered with the copyright office. The language in your TOS does not matter if you have not done everything for DMCA, which is why it’s so important to work with legal counsel who understands things like this.
</p>

<h5>6. Having an experienced set of eyes</h5>

<p>
	Last week someone gave us a licensee agreement. It stated that the exclusive license would cease if a, b, c. So, the company thought they had to do a, b, and c, but that was not the intent of the agreement. Having another set of eyes that is trained to understand where commas are placed will help you better run your business. 
</p>

<h4 class="margin-top">Work with Daphne at Perkins Coie</h4>

<p>
	Speaking with Daphne made me rethink how I view my startup’s legal documents. We have been happy clients of Perkins Coie for 3 years now and wouldn’t have it any other way. To work with Daphne, send an email to {{perkins-coie-contact}}. 
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
