<p>
	I have spoken with many first-time entrepreneurs that have the same question: how do I make sure I have good investors? What differentiates a good investor from a bad investor? It’s a really great question, and many times you hear that “it’s just a gut feeling”.
</p>
<p>
	Is this true? Yes. Raising money and finding investors to partner with is a bit like dating - you shouldn’t get into a long term relationship with someone you don’t feel comfortable spending 7-10 years with. But, there’s more to understanding the differences.
</p>

<p>
	I find Dave Lambert and Right Side Capital to be refreshingly “right” in terms of their approach to startups and investment. I asked Dave to share his thoughts on Right Side’s investment strategy and mentality. He had some great advice to give entrepreneurs looking to raise capital. In this article we will cover advice Dave has on relationship expectations with investors, how to think about fundraising in the eyes of an investor, and when to say no to money.
</p>


<h4>Meet Dave Lambert and Right Side Capital</h4>
<p class="text-center margin-top">
	<img src="img/articles/rightside-logo.png" alt="Rightside Logo">
</p>
<p>
	<a href="http://www.rightsidecapital.com/">Right Side Capital</a> is a pre-seed investment firm. They prefer doing a stage or two earlier than series A. Right Side invests in companies raising $50-500k almost exclusively at valuations between $1-3m and they always give an answer, whether yes or no, within 2 weeks. 
</p>

<p>
	Their philosophy is, at the early stage, you can predict almost nothing about whether a startup will be successful. Therefore, making decisions based on the founding team or things like the distribution model and any progress the team may have made are their basis’ for investment, not the idea.
</p>

<p>
	Right Side differentiates itself by focusing their investment efforts outside of the Silicon Valley and New York. They will still make investments in these regions, but find that there are better valuations in less competitive markets.
</p>

<p class="text-center margin-top">
	<img src="img/articles/rightside-strip.jpg" alt="Rightside Comic Strip">
</p>

<p class="margin-top">
	Because they are early stage investors, Right Side understands a high percentage of the companies they invest in will fail. This dictates their diversification strategy and they make a lot of small investments across a wide set of companies. Their first fund had 280 investments in a 3 year period. Their 2nd fund will make 500 investments over the next 3 years.
</p>

<p>
	Right Side tends to focus on capital efficient models (meaning, if the startups they invest in are successful, they will not go down the venture capital funnel).

	They also spend a significant amount of time helping with M&amp;As for startups. “Most exits happen at low valuation levels because the M&amp;A process is sub-optimally managed and run”. says Dave.

</p>

<h4>The Relationship Dynamic You Should Prepare For With Early Stage Investors</h4>

<p>
	In interviewing Dave, the expectations Right Side sets with their portfolio companies is a good starting point for most entrepreneurs. So, if you’re wondering what to prepare yourself for, this is a great example.
</p>

<p>
	“We don’t take board seats or try to help operationally. We are always out talking to business development contacts, M&amp;A teams, and other investors. We are talking on behalf of every company in our portfolio when we have these discussions, which is why it’s so important to give us regular updates.” David says.
</p>

<p>
	During the startup hustle many entrepreneurs are so busy focused on their business that updating investors falls to the wayside. “Give us regular updates so we can help you”. says David.
</p>

<p>
	This is a great piece of advice from an investor to an entrepreneur. With so many portfolio companies, if you don’t stay top of mind with your investors, then it’s difficult for them to remember how they can help you during key meetings with potential collaborators.
</p>

<p>
	I admire the fact that Right Side focuses most of its time on talking to the people who matter to their startups (their investments) the most. Anyone would be lucky to have such active investors who are consistently going out there trying to make sure they can make the right connections for their companies.
</p>

<p>
	Because Right Side expects regular communication to take place from their portfolio companies, they try to help entrepreneurs realize that updates only need to take less than 2 minutes to write. They work with companies on the 5 KPIs that will be in those updates (examples may be MRR, # of customers, # of deals in pipeline).
</p>

<h4>A Helpful Investor’s Advice to Entrepreneurs Raising Capital</h4>

<p>
	With Dave’s startup background, and now with his current position as investor, he reminisces on one thing he wished he understood as an entrepreneur.
</p>

<h5 class="text-center margin-top green-text text-darken-4">“Entrepreneurs are too focused on raising the largest amount of capital at the highest valuations, but at the end of the day, the only check that matters is the last check that comes in.” - <i>Dave Lambert</i></h5>

<p class="margin-top">
	“As an entrepreneur you view the pre-money valuation as how much your business is worth. But the reality is that this is an artificial construct to help entrepreneurs put a price on their business so outside money can invest. Many entrepreneurs are really concerned about the pre-money valuation, and what they don’t realize is that venture investors don’t care about that. Investors care about what percentage of the company they own. If you’re raising $1m on $4m, the entrepreneur is typically thinking the company is worth $4m. That is not the reality. And, the disconnect is that the investor is thinking he’s getting 20% of the company, NOT that he’s giving you $1m.”
</p>


<h4>When to Say No to Money</h4>

<p>
	Dave wishes entrepreneurs would understand that every time they raise more money, they are eliminating multiple exit markets. “Most [institutional] investors are looking to make 10x or 0 off an investment”. Dave says. One way to counter this is to raise money from angels or seed funds that do not have the same type of investment on paper as institutional investors do.
</p>

<p>
	“There is a big difference in raising $1m on a $5m pre-money valuation from angel and seed investors versus raising $3m on a $10m valuation from a VC.” Dave provides a great example of an entrepreneur who was looking to take money from a very well known firm in the Silicon Valley.
</p>

<p class="text-center margin-top">
	<img src="img/articles/yes-no.jpg" alt="Check No">
</p>

<p class="margin-top">
	Right Side had invested in a company at a $2.5m valuation. The company was wildly successful and had an inbound offer from the well known firm offering $4m on a $12m valuation. The CEO called Dave for advice when he got a term sheet.
</p>

<p>
	Since this company was in a very hot market and the chance of acquisition was high, Dave knew the ramifications the CEO would face if he took money from the firm. Dave, knowing the CEO, knew that it might be a poor fit.
</p>

<p>
	Dave asked the CEO if he would be happy with an acquisition at 5x, and he said yes. Dave informed the CEO that this firm would probably block any exit under 10x and told him to call the partner making the offer to ask if he would block it.
</p>

<p>
	The CEO, of course, thought that this sounded ridiculous. As a startup CEO, doesn’t it? You’re giving your investor a great return on their investment, aren’t you? But, in reality, this is not how venture firms think.
</p>

<p>
	A few hours later, Dave got a call from the same CEO, but this time, the CEO was in shock. “You were right,” said the CEO. He had spoken with the partner of the venture firm and the partner said that they wouldn’t consider an exit that yielded less than a 10x return.
</p>

<p>
	There is a happy ending to this story. As the CEO did what was best to align with his interests, he took another path that fit better with his vision with the help of Right Side introducing him to better aligned investors.
</p>

<h4>How to Work with Right Side</h4>

<p>
	Right Side, unlike some firms that rely only on their network connections, DO look at random inbound inquiries. So, simply send in an inquiry! A pitch deck will help and is preferred so they can read the pitch deck beforehand. It helps them frame the deal prior to the conversation so they can ask relevant questions to speed up the deal process.
</p>

<p>
	“Investors often say they have a proprietary deal flow network, but we believe the reality is that good ideas and good teams can be anywhere.” says Dave.
</p>

<p>
	Having been through the investment process myself as a CEO, I’m happy to hear that Right Side does not want to waste their or entrepreneurs’ time and gives a yes or no answer within 2 weeks.
</p>

<h4>The Deal Breakers</h4>

<p>
	“We like to find startups where founders have operational experience, startup experience, or some deep domain expertise. If you don’t have one of those, it’s very hard for a startup to succeed.”
</p>

<p>
	Dave also mentions that, with single founder companies, the bar is set much higher when Right Side is looking at them. Business models where advertising is the main source of income is also a red light. And, anything non-tech, of course, is a deal-breaker.
</p>

<h4>Get On With It</h4>

<p>
	If you are looking for funding, I’d recommend getting in touch with Right Side. It’s refreshing to speak to an investor that is so straightforward and tells it like it is. It’s refreshing to find an investor that is actively looking to increase the chance of their investments to succeed.
</p>

<p>
	And, if you do find that personalities and goals align with Right Side’s team, I can’t help but think the outcome would be a beneficial one for you as an entrepreneur.

</p>

<p>
	You can find information on how to contact Right Side Capital and more about their approach to investing at <a href="http://rightsidecapital.com">rightsidecapital.com</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>