<p>
  If you’ve been around the Raleigh/Durham/Chapel Hill area, you’ve probably heard <a href="https://twitter.com/startuphats">David Gardner</a>’s name pop up from time to time. David is a local Triangle investor who has been an entrepreneur most of his life. He has started 7 companies and had 6 successful exits in a row between $12m and $100m per exit. Last year, he started Cofounder’s Capital to bet on more Triangle startups.
</p>

<p>
  We asked Dave to give us some tips on being a successful entrepreneur and investor. Here’s a bit about Dave and a few tips that come along with.
</p>

<p>
  <img src="img/investors/david-gardner.jpg" alt="David Gardner">
</p>

<h4 class="margin-top">You’ve been called the “most active angel investor in NC”. How did you get into investing?</h4>

<p>
  6 years ago, David’s wife made him promise he would never start another company again. But for entrepreneurs, the itch for building companies never goes away.
</p>

<p>
  “In the beginning, I was just volunteering my time by advising and meeting with companies. There are not a lot of investors who are serial entrepreneurs themselves, so I felt like I had a lot to add to these teams and have a lot of insights that VCs do not have. The more pre-revenue companies I worked with, the more I saw a contrasting difference in teams that could execute what we were talking about and some that could not. I felt like I should be writing a few checks, and when they needed to raise money, I was in a position to know if they would use the funds wisely. My first dozen investments went really well and I had a 90% track record which is high for pre-revenue companies.”
</p>

<p>
  David actively angel invested for 5 years before starting <a href="http://cofounderscapital.com/">Cofounder’s Capital</a> last year.
</p>

<p class="margin-top center-align">
  <img src="img/articles/cofounders-capital-logo.png" alt="Cofounders Capital">
</p>

<h4 class="margin-top">
  You started Cofounders Capital last year to invest in local Triangle startups. How did that come about?
</h4>

<p>
  “Since I’ve had such a great track record, other investors wanted to get involved in that. Last year, a bunch of people wanted to invest with me, so I put together a $12m seed fund. The size of investments I make are $300k, and I am managing that fund now.”
</p>

<p>
  David has done 6 investments out of that fund. He keeps a straight forward model of investing in mostly software and IP focused startups.
</p>

<p>
  “B2B is my sweet spot. Products that we can sell to large customers who can write big checks.” says David.
</p>

<p class="margin-top center-align">
  <img src="img/articles/cofounders-lab-logo.jpg" alt="Cofounders Lab">
</p>

<h4 class="margin-top">
  <a href="http://cofounderscapital.com/free-lab/">Cofounder’s Lab</a> sounds intriguing and like a great resource for startups! What is it?
</h4>

<p>
  The town of Cary wanted to support what we were doing with building the startup ecosystem in the area, so they gave us free office space to build an accelerator lab in downtown Cary. It’s 100% free to come work. We have attorneys, marketers, and accountants there to help startups if they need. We see ourselves as part of the ecosystem here. (Here's the link to <a href="http://cofounderscapital.com/free-lab/">Cofounder's Lab</a>.)
</p>

<h4 class="margin-top">
  What’s it like for a startup to seek investment from you?
</h4>

<p>
  “I see us as being on the same side of the table. We model the company out together and see if the idea is solid. I like to think that both of us (startups and myself) are investing in this. We get in the field, do presales, figure out who will buy it, and what kind of go to market strategy we can have. We just get together and build the company together, and that could turn into an investment. I’ve never understood the adversarial relationship between entrepreneurs and investors and why that needs to be there.”
</p>

<h4 class="margin-top">
  Can you tell us a few key pieces to success for entrepreneurs you've seen thus far?
</h4>

<p>
  “Coachability. 75% of the success of an investment is the entrepreneur. Entrepreneurs must be flexible, coachable, and stay true to the data points coming in and change direction if necessary. A bad idea and a good entrepreneur will make you more money than a good idea and a bad entrepreneur. I give my companies a lot of homework and see if they incorporate my feedback. Most venture capitalists, if they have not been entrepreneurs themselves, do not do this because they don’t know how, but it’s very effective.”
</p>

<h4 class="margin-top">
  Do’s and don’ts for angel investors to achieve success like you have?
</h4>

<p>
  “I’ve been in a few angel groups and they are great because you have a lot of expertise, rolodexes, and subject matter experts. Where they fail is the due diligence and methodology. This varies based on who shows up that day. With VCs, you have a very rigid due diligence process, but they don’t have a rolodex and subject matter experts for the ideas they are vetting.”
</p>

<p>
  Half of angels don’t do very well. As an angel investor, you have to do your homework. You can’t just go with good ideas. It is a lot of work to vet these companies. Most angel investors make 1 or 2 investments per year. With half of angel investments, the majority are going to fail. Statistically if you only make 1 investment per year, you’re going to fail. It’s important to invest in more companies to diversify your portfolio.
</p>

<h4 class="margin-top">
  The Triangle startup community has been growing, and we keep seeing more growth in this area. What do you think is attributed to this?
</h4>

<p>
  “It’s the best kept secret around. We have a great infrastructure for startups. Every week we have tons of events, coffees, grant programs, and accelerators. Just this week, I spoke at 3 events and judged a startup program. There are a lot of successful entrepreneurs around here who spend a huge amount of their time mentoring and developing. All the universities now have funds to invest back into their students. It’s cool to be an entrepreneur here.”
</p>

<h4 class="margin-top">Work with David and Cofounder's Capital</h4>

<p>
	Learn more about Cofounder's Capital on their <a href="http://cofounderscapital.com/">site</a> or follow David on <a href="http://twitter.com/startuphats">Twitter</a>, or come pitch David 1on1 at Venture Hacked on 5/11. <a href="http://venturehacked.com/#/event/2016-05-11-rdu">RSVP here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
