
<p>
  We recently launched Venture Hacked in the “Silicon Valley of the East”, the booming Triangle (Raleigh/Durham/Chapel Hill) area.
</p>

<p>
  If you haven’t attended one of our events yet, it’s the one place entrepreneurs can pitch 10-15 investors 1on1 in a “speed pitching” format. The pitching sessions are preceded by an investor panel. Sign up for our <a href="http://venturehacked.com/#/event/2016-05-11-rdu">Raleigh launch 5/11</a> or our <a href="http://venturehacked.com/#/event/2016-05-26-sv">Silicon Valley event 5/26</a>.
</p>

<p>
  Studying the landscape of the Triangle investment community and listening to various investor and startup perspectives has been fascinating for someone who has spent too much time in the Silicon Valley. The style and approach to fundraising and building your startup here are refreshingly different.
</p>

<p>
  We wanted to talk more in depth about the Triangle ethos, and one name we kept hearing over and over again was <a href="bcvp.com">Bull City Venture Partners</a> and the dynamic duo, David Jones and Jason Caplain.
</p>

<p>
  Silicon Valley, take note. There are some great takeaways here and things that could be improved in the valley that the triangle has in its DNA.
</p>

<h4 class="margin-top">David Jones and Bull City Venture Partners</h4>

<p>
  With roots in North Carolina, David started off his career at the naval academy and piloted for 10 years before he became an entrepreneur in the software business. After David attended grad school at UNC, he joined Jason in the investment world and they’ve been working together ever since.
</p>

<p>
  Bull City Venture Partners is David and Jason’s 3rd fund; the 2 other funds they have are fully invested under Southern Capital Ventures and they are still actively running them.
</p>

<p>
  Bull City closed an oversubscribed round of funding in June 2014. They’ve since invested 7 deals into that fund with a regional focus on the mid-atlantic and the southeast.
</p>

<p>
  Generally, Bull City invests in early stage (80% seed/early stage tech), but about 15-20% are invested into growth, and they all tend to revolve around software, e-commerce, and internet.
</p>

<p>
  “Our theme is around teams and entrepreneurs. If you look across our 30+ investments over 3 funds, you’ll find that we are looking for repeat, successful entrepreneurs looking to build their 2nd or 3rd company. <a href="http://www.channeladvisor.com/">ChannelAdvisor</a> is a great example of this.”
</p>

<h4 class="margin-top">
	What are the aspects of being a partner at BCVP that keep you going every day?
</h4>

<p>
  “We have very concentrated portfolios of 10-14 companies per fund and focus on being an extension of the team. That’s the fun part. The investing and deal structure is necessary, but it’s about taking our companies to customer meetings, building the team, and growing companies with our portfolios.”
</p>

<h4 class="margin-top">
  You've invested in quite a few entrepreneurs in different cities such as DC, Bay Area, and the Triangle. Are there any trends you see in these pockets?
</h4>

<p>
  "Our focus on the mid-atlantic and southeast include DC, Baltimore, NC, Atlanta, and Nashville. When we have gone outside our geography, it’s usually because we are following an entrepreneur. The reason we don’t invest in places such as the Bay Area is because the amount of capital there is so huge that there is no reason for entrepreneurs to call us when there are 1000s of VCs in the area . We don’t have a competitive advantage. Also, with focus on key regions, we have developed a solid understanding of the markets and know the ecosystems there."
</p>

<h4 class="margin-top">
  How does the Triangle area differentiate or compare to a place like the Silicon Valley?
</h4>

<p>
  “Compared to the Bay Area, there is much less capital, and a severe lack of early stage capital. Where this helps shape Triangle companies is in how the founders build their companies. Triangle companies tend to bootstrap themselves longer because capital is constrained and they are forced to make it on their own. We like the scrappiness and efficiency that comes from that.”
</p>

<p>
  “In the Triangle, startups are out of the hype noise that they may experience in the Bay Area. Sometimes that is an advantage. An example of this is <a href="https://www.reverbnation.com/">Reverbnation</a>. Being out of the Bay Area helped them focus on building a solid company. The Triangle area also has great access to engineering talent with Cisco, IBM, Saas, Citrix, and many other companies having presence here. Getting starter teams is easier, but startups do struggle with the “lesser risk” culture in the Triangle. Pulling someone out of IBM who is making a comfortable salary to take some risk is harder.”
</p>

<h4 class="margin-top">
  What do you see coming for the Triangle area in the next few years? How do you think the fundraising landscape will change?
</h4>

<p>
  “2015 was a great year for NC. We had 190+ deals and $1.2b of equity funding (split between tech and life science) fund our companies. ~150 different out of state investors came to NC and started to fund our companies. Some great success stories came out of 2015 as well, such as Bronto selling to Netsuite. In the next 12 months, we’ll see the next wave of companies push through and get to that Series B and next crop of companies that will go the distance. I’m pretty sure we will see more exits from big acquirers in NC as well.
</p>

<h4 class="margin-top">
  We’ve all heard nightmare stories of entrepreneurs having to "deal" with investors that don’t understand what it means to invest in a startup. What advice do you have for these situations?
</h4>

<p>
  “In the Triangle, we do have quite a few angel investors, but have fewer professional early stage investors. We do have a strong network of angels and angel groups and it’s gotten easier and better to fundraise here. My advice to entrepreneurs is to remember that capital is a commodity. Try to focus on dollars that can be helpful and additive. Find the investor that gets you in front of the right customer. I’m a big fan of having entrepreneurs holding advisors and their board accountable. Ask them for help. We (BCVP) like being held accountable for the boards we sit on.”
</p>

<p>
  "Also, at the end of the day, your job as an entrepreneur is to keep your startup going. Sometimes you may not find the perfect investor, so my only piece of advice is make sure you’ve done homework on the person. Make sure it’s not someone who will cause you trouble in the long run."
</p>
<h4 class="margin-top">
  What advice do you have for investors on how to be the most useful?
</h4>

<p>
  “Jason and I certainly don’t do everything well. One thing we have focused on is investing in things we know something about and investing in companies where we can add value. If there is a semiconductor company, there is not much value we add and we are probably “dumb money” to them. We also try to stay out of the way and let entrepreneurs run their businesses.”
</p>

<h4 class="margin-top">Work with David and Bull City Venture Partners</h4>

<p>
	Learn more about Bull City Venture Partners on their <a href="http://www.bcvp.com/">site</a>, and follow them on <a href="https://twitter.com/bcvp">Twitter</a> for the latest updates. You can learn also follow David <a href="http://www.twitter.com/davidtjones">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
