
<p>
	Some days bring you serendipity and some days lead you to great conversations with interesting entrepreneurs. The other day, my path led me to an email thread on Founder’s Network which connected me with Deekron Krikorian, Founder and Chief Motivation Officer at Motion Traxx. 
</p>

<p>
	Deekron is the founder of several successful startups and a top 5 MBA graduate with experience at global consulting firms. His current journey is running Motion Traxx, a fitness app that helps people stay motivated during workouts.
</p>

<p>
	Deekron’s story is one example of how life experiences, both personal and professional, ultimately help guide you to success when doing a startup.
</p>

<h4 class="margin-top">Starting with Passion</h4>

<p>
	Deekron’s passion for helping others is the ultimate driving force to why he is successful with Motion Traxx. You must believe in yourself, your ability, and your vision in order to succeed.
</p>

<h5 class="text-center margin-top">
	“We believe that being fit helps you achieve more in life.” says Deekron. 
</h5>
<p class="text-center">
	<img src="img/articles/motion-traxx.jpg" alt="Motion Traxx">
</p>
<p class="margin-top">
	Motion Traxx helps you work out harder than you would on your own, with coaching by top trainers and music that’s synced to your workout. Before ‘pivoting’ and launching their current personal trainer app, Motion Traxx was a workout music podcast (and remains the #1 music running podcast on iTunes). They have partnered with many brands including Gatorade, Asics and PowerBar.
</p>

<h4 class="margin-top">Experience - From the Big to the Little </h4>

<p>
	Having a taste of big corporate and small business can round out your skillset and prepare you for the multitasking mindset needed as an entrepreneur. 
</p>

<p>
	Deekron consulted with big clients at Accenture and Ernst &amp; Young, then went on to lead marketing initiatives for Globalnet, a smaller software company, where he helped double revenue in 2 years.
</p>

<p>
	“My experience at Accenture helped me fine tune my critical thinking skills. Once you learn that skill, you can apply it to a company of any size. Startups are all about doing things quickly, but in order to be successful, founders must be able to practice high-level thinking and know how to break down problems.”
</p>

<p>
	“My experience at Globalnet was great. Working for a small company helped teach me to operate in a small environment. It taught me that you don’t have to do things perfectly; a sharp contrast from my Accenture experience. In small companies, you don’t have months and months to perfect things like you do at a big company.”
</p>
 
<h4 class="margin-top">Leveraging Personal Relationships</h4>

<p>
	Never underestimate that Facebook friend you haven’t spoken to in awhile, or that second cousin that is in the marketing industry. Being a startup founder is about being resourceful and finding connections where there may not have been before.
</p>

<p>
	Motion Traxx’s initial success was greatly contributed to Deekron asking his cousin for a personal favor. 
</p>

<p>
	“I had a cousin that did PR and asked for a favor to pitch the launch of the startup and that got us PR right off the bat in 2009. We got a big writeup in FITNESS magazine (newly re-branded as SHAPE) and drew over thirty thousand users in less than a month.”
</p>

<p>
	With that initial traction and buzz, the Motion Traxx team was able to begin partnering with fitness magazines and creating audio versions of their content to pair with workouts. This led to other great deals that continue to propel Motion Traxx forward even today.
</p>

<h4 class="margin-top">Risk, Reward, and No Regrets</h4>

<p>
	Everyone has their own startup journey and path forward. No one path is ever a straight one, and there is truly no “right” path to take.
</p>

<p>
	Deekron’s journey for entrepreneurship did not start as a dropout of college, but at 35 when the pieces of his own life fell into place.
</p>

<p>
	“Staying so long in corporate may have hurt me in some ways because it cost me time. I was always passionate about starting my own business, but didn’t do so until I was 35. If I would have done it sooner, I would have learned more about being an entrepreneur. What I learned with my consulting experience is that consulting does not teach you what it takes to own your own business. You must actually do it to learn. But, owning a small business also means you no longer have big budgets, a support staff, and a big paycheck. These constraints make it harder to execute as well.”
</p>

<p>
	Ah, the musings of a self-critical entrepreneur. My two cents and another side to the coin - if Deekron had not gotten the experience in consulting, he would not have been as effective of a critical thinker and problem solver. He may not have been as comfortable in crafting large business deals with Motion Traxx partnerships as he does now without his big corporate experience. And, he would not be on the path he is currently on with Motion Traxx.
</p>

<p>
	What’s your journey? How do the pieces of your life fit together to make you the right one to execute on your startup vision? Don’t forget to appreciate your life experiences, find those pieces of serendipity in your life, and put them together. It’s the sum of all the things that will make you successful in the end. 
</p>
 
<p>
	You can learn more about Motion Traxx <a href="http://www.motiontraxx.com/">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
