
<div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/_GXLEg1iTQg?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  The Raleigh-Durham area has received national attention as one of the most vibrant up and coming start up scenes in the country.  It has been deemed the “Silicon Valley of the East” and has been included in the top ten places to start a business by Business Insider, Inc.com and other experts.  We sat down with the man who’s played a pivotal role in building this ecosystem.
</p>

<h4 class="margin-top">Introduction to Derrick Minor</h4>

<p>
  Derrick Minor is the Entrepreneurship Manager for the City of Raleigh. He facilitates startup and entrepreneurship initiatives for the city under the office of Economic Development.  Derrick leverages a large network he’s built over the last decade while in the private sector to the benefit of these early state companies.  This may include a wide range of things from introductions to finding talent and partnerships.  His ultimate goal is to support a startup to the point of self-sufficiency that facilitates long term growth.
</p>

<p class="text-center">
	<img src="img/articles/derrick-image.png" alt="Derrick Minor">
</p>

<h4 class="margin-top">Why should investors be interested in the Triangle area?</h4>

<p>
  The Triangle is still a hidden underserved market from a capital perspective, which is very attractive for investors.  It allows them to get in early with companies which makes for less bidding wars that you might experience in larger markets.  This typically creates the opportunity for larger returns based on those dollars.  It also has less barriers to entry not only for companies who do business but for capital to invest.  The networks are established in a way that makes it easy to connect with companies to understand the market in a fairly short time frame.  Additionally, the talent in the area is extremely strong as a result of the well-respected university system.
</p>

<h4 class="margin-top">What has been the biggest change in past five years in the investment community in the Triangle?</h4>

<p>
  The biggest change has been the improvement of infrastructure.  The Triangle has always had three tier one universities but now the startup community has been successful in leveraging and utilizing the talent, intellectual property and other early stage resources critical to startups.  We’ve seen start up spaces like HQ Raleigh, American Underground, Industrious, Nest, and a handful of others providing mentorship and opportunities for these companies to grow.  This simply did not exist five years ago.  With the continuing expansion of several large companies to the area, we’re beginning to see a cycle of company growth, exit, then re-entry into the market.
</p>

<h4 class="margin-top">What are some of the bigger success stories that have come out of the Triangle?</h4>

<p>
	There’s been a lot of solid exits for software companies like Sharefile, PeopleClick, Hosted Solutions, DigitalSmiths, and Bronto.  On the life sciences side, there’s Sprout Pharma who existed last year for $1.2 billion.  Having the right components in place and the cohesion we’re experiencing within the market is something we’re going to continue to grow on.  The Triangle is about five years into a timeline of maybe a fifteen to twenty years before it can become a much more mature market and there’s a several people present helping to push things forward.
</p>

<h4 class="margin-top">What should an external investor expect as they explore entering into the Raleigh market?</h4>

<p>
	They should start with the co-working spaces like HQ, American Underground, Industrious, and Nest to get a handle on what’s going on in the market.  It’s also a good idea to connect with the local angel groups and investors to get an understanding of what companies are present, in what industries and their current stages.  Talk to myself and others who are entrenched within the community.  The barriers to entry are extremely low—I’ve been able to leverage my network to help them get a better understanding of who’s doing what, what entrepreneurs should they be connecting with, what companies should they be watching and anything they might be missing.  It’s really easy to get up to speed here.
</p>

<h4 class="margin-top">What are some of the barriers and benefits for a new company entering the market?</h4>

<p>
  It’s a really easy city and region to set up shop.  We’ve seen that a lot over the last six months with expansion from Distil, UserVoice, WalkMe, and CloudGenix all of which a Silicon Valley based startups that have open second and third offices here.  The cost of doing business and cost of living here for their employees is much lower—offices expanded here a lot of times are larger offices from an employee perspective because of this advantage.  Talent from the universities, other companies and those who continue to move here are attractive to startups looking to enter the Triangle market. Raleigh has been ranked the number one and two fastest growing city nation year after year.
</p>

<h4 class="margin-top">Is there any benefit to starting a corporation in North Carolina versus California?</h4>

<p>
  Derrick believes the biggest benefit is lower competition.  There’s also lower taxes, ease of doing business, lower operating costs which impacts your bottom line.  There’s no local income tax but there is state income tax that continues to drop. It’s a great place from a management perspective and an opportunity perspective as well.  There are several global companies that have their corporate headquarters here in Raleigh which offers close access to the university system.  This is a significant benefit to them in terms of talent and recruitment.
</p>

<h4 class="margin-top">How can entrepreneurs connect with you?
</h4>

<p>
  I typically connect with entrepreneurs through networking, but you can find me on twitter (<a href="http://twitter.com/DerrickMinor">@DerrickMinor</a>), <a href="https://www.linkedin.com/in/derrickminor">LinkedIn</a> or you can call my office any time.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{cherisa-bio}}
</p>
