<p>
  Dhruv Patel is a familiar face that many around the Triangle area recognize for his involvement in the startup ecosystem. He currently serves as Director of Investor Relations for the CED located in downtown Durham.
</p>

<p>
  I had the pleasure of sitting down with Dhruv to discuss how the CED has evolved over the 32 years of involvement in the startup ecosystem.
</p>

<h4>
  Tell us about the history of the CED
</h4>

<p>
  “The CED is a 32 year old entrepreneur support organization created when there was just IBM and Glaxo in the RTP. There was not a lot in the startup ecosystem. CED was founded by a VC, an attorney, and a banker who worked with startups. The idea was to give entrepreneurs a place to go, as chambers of commerce did not seem the best place to grow and create.”
</p>

<p class="center-align">
  <img class="responsive-img" src="img/articles/ced-logo.ico" alt="CED Icon">
</p>

<h4>
  Where is the CED now?
</h4>

<p>
  “As the community has evolved, CED is happy to have played a role in the ecosystem. Traditionally focused on seed stage companies and connecting them with their first dollars, geting them ready for their pitch, things have changed to help support the ever-changing landscape.”
</p>

<p>
  In the past 18 months, CED has begun to focus its efforts on 3 main themes. Mentoring &amp; education, investor relations, and public relations. Here are some of the ways they work with companies.
</p>

<h5 class="margin-top">
  Mentoring and education for entrepreneurs
</h5>

<ul>
  <li>Focusing on working with slightly more mature companies who have product, traction, and revenue.</li>
  <li>CED has a mentoring program with MIT to give startups access to senior operators who can give perspective that are unbiased.</li>
  <li>Work with entrepreneurs to make sure their fundraising strategy and pitch is in place.</li>
</ul>

<h5>Investor relations</h5>

<ul>
  <li>CED is tracking over 1500 Triangle/NC companies in a database with key partnerships, revenue, key hires and other metrics to determine success. They have relationships with 300+ investor groups and connect those companies with investors.</li>
</ul>

<h5>Public relations</h5>

<ul>
  <li>
    The CED focuses on sharing the story of the companies they work with. These companies’ customers, partners, investors, and acquirers are external to North Carolina and the more the CED is able to strategically place stories of these companies to get them visibility, the better for the overall North Carolina startup ecosystem.</li>
</ul>

<h4 class="margin-top">Events to watch out for</h4>

<p>
  With around ten thousand attendees that frequent the two conferences the CED hosts per year, you know that these are ones you will not want to miss.
</p>
<p class="center-align">
  <img class="responsive-img" src="img/articles/ced-life-science.jpg" alt="CED Life Science">
</p>

<h5>Life Science Conference</h5>
<p>
  March 1-2, 2016 RSVP <a href="http://cednc.org/LSC">here</a>.
</p>

<p>
  As one of the leading life science gatherings in the nation, the CED Life Science Conference attracts nearly 1,000 participants each year and boasts globally recognized industry leaders as speakers, showcases the most exciting and innovative NC-based life science companies, and connects these companies to a diverse group of venture capital and corporate investors. As an attendee, you’ll meet innovative thinkers and companies from across the life science landscape, representing biotech, pharmaceuticals, medical devices, digital health, diagnostics, drug delivery, and AgBio. The conference features a first-in-class program agenda, a demo room for emerging companies and university tech transfer groups, special workshops & content for entrepreneurs, and ample networking for the vibrant life science community that exists in the Research Triangle region of North Carolina. The CED Life Science Conference is presented in partnership with the North Carolina Biotechnology Center and NCBIO.
</p>

<p class="center-align margin-top">
  <img src="img/articles/ced-tvc.png" alt="CED Tech Ventures" class="responsive-img">
</p>

<h5>Tech Venture Conference</h5>

<p>
  September 13-14, 2016 RSVP <a href="http://cednc.org/TVC">here</a>.
</p>

<p>
  As the premier event for technology entrepreneurs in the Southeast, the CED Tech Venture Conference brings together some the most innovative minds in the tech industry. From early startups to highly successful and established tech companies, venture funds and angel investors, this annual celebration of technological innovation and entrepreneurship attracts over 800 entrepreneurs, investors, corporate leaders and domain experts from across the country. In addition to bringing in top industry leaders as speakers and panelists, the CED Tech Venture Conference reflects North Carolina’s vibrant entrepreneurial community in one of the nation’s leading technology hubs and showcases many of the most promising emerging companies in the region. Attendees will have the opportunity to connect with a diverse group of investors, which, last year, included over 60 venture funds, such as Bessemer Venture Partners, Azure Capital, Comcast Ventures and Greycroft. At the CED Tech Venture Conference, we invite you to engage with industry leaders, radical thinkers and trail-blazing entrepreneurs, and learn about the disruptive innovations that are transforming the ways in which we live, work and play.
</p>

<h4>More about CED and Dhruv Patel</h4>

<p>
  You can find the CED on Twitter <a href="https://twitter.com/cednc">@CEDNC</a> and Dhruv on Twitter <a href="https://twitter.com/pateldhruv">@PatelDhruv</a> or <a href="http://cednc.org/">online</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
