<div class="row">
	<div class="col s12">
		<h4>Images of Venture Hacked July 22, 2015 at Perkins Coie Offices in Palo Alto</h4>
	</div>
</div>
<div class="row">
	{{#each content.images as |photoUrl|}}	
		<div class="col s12 m6 l4">
			<img class="responsive-img materialboxed" src={{photoUrl}} />
		</div>
	{{/each}}
</div>

