Sales. The mythological unicorn that so many starving startups need to succeed. Yet, sales seems so elusive to non-sales people.

Hendrik van der Meer, a seasoned entrepreneur and sales executive sits down with us to speak on his successes and lends a few words on why these typical startup sales myths are wrong.

<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/03/Hendrik-van-der-Meer-headshot.png"><img class="alignnone size-full wp-image-141" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/03/Hendrik-van-der-Meer-headshot.png" alt="Hendrik van der Meer headshot" width="350" height="400" /></a>

Hendrik currently is co-founder and president at his latest startup, Vilynx, which is focused on changing the way video is watched. He led sales and business development at his last startup, Gigle Networks, where he played an integral role in the sale of Gigle Networks to Broadcom for $83 million in December 2010.

&nbsp;
<h2>Many startups dream of an exit. How did you make it happen?</h2>
<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/Success_next_exit.png"><img class="alignnone size-full wp-image-292" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/Success_next_exit.png" alt="Success_next_exit" width="522" height="303" /></a>

“There is always some amount of luck that is involved with any exit but you have to put in the hard work to make sure the company is in a position to succeed. At Gigle we had an incredible engineering team that focused on leading edge manufacturing technologies and true product differentiation and had just the right timing. Starting with an all star team and developing a product that had market fit was key. Then, it was only a matter of time before a company like Broadcom would want to acquire us to incorporate our home networking technology into their product portfolio. This happened to align with our series C round of funding, which was good timing."

&nbsp;
<h2>Myth #1: I need a large sales team to succeed</h2>
“Gigle’s sales team only reached a total of 4 before we were acquired for $83 million. You do not need a large sales team to succeed, and we only had 4 for a hardware company. With a SaaS or app-focused startup, you can get by with even less people. ”

&nbsp;
<h2>Myth #2: I am not a sales person, therefore I cannot sell</h2>
<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/not-a-salesperson.jpg"><img class="alignnone wp-image-293" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/not-a-salesperson.jpg" alt="not a salesperson" width="550" height="365" /></a>

“As a startup founder, you are always selling your vision internally to your team. Selling that vision to the customer is not so different. All the co-founders need to take a part in selling the product to customers.  Your passion for the market and product will help overcome any sales skill you may lack.”

&nbsp;
<h2>Myth #3: Once we have the product, it will sell itself</h2>
False. “Sales is a lot of hit and miss. You have to get out there to get feedback and then go through the iteration process (and repeat). You have to have a market fit before you have something that will sell. And if you are really doing something innovative, it takes a lot of hard work to prepare the market for your idea (and you better hope the timing is right).”

&nbsp;
<h2>Myth #4: We can’t pitch companies because we’re not ready</h2>
<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/always-be-closing.jpg"><img class="alignnone size-full wp-image-294" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/always-be-closing.jpg" alt="always-be-closing" width="584" height="278" /></a>

“You should always be selling. If you don’t have your product ready, you should still be selling the idea to get feedback. It is a big mistake if you think you can do everything in stealth mode and just start talking to customer when the product is finished. This leads to a lot of wasted time and money.”

&nbsp;
<h2>Myth #5: We should pitch the small customers first before we go after the big customers</h2>
“A product that small customers like may not fit with a big customer’s needs. If you are depending on the big customers to be a significant part of your future revenue, you better find out early whether the big customers are interested in your product or not.”

&nbsp;
<h2>Myth #6: We shouldn’t talk about our product because someone is going to steal our idea</h2>
<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/idea-stealing.jpg"><img class="alignnone size-full wp-image-295" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/05/idea-stealing.jpg" alt="idea stealing" width="586" height="357" /></a>

“The opposite is actually true. If you talk about your product to people, they will connect you with people who are interested and you might find the perfect partner or customer. I am constantly talking about video and the different technologies that are helping drive the market. At the end of the day, your startup has to execute on your product strategy and be quicker to market with a product that customers love.”

&nbsp;
<h2>Myth #7: We know how to price our product</h2>
“Just like product pivots, there are pivots in how the product is marketed and sold. Only once you begin testing the market and you are able to understand what the right channels and the right business model are, that will determine your pricing. Hiring an experienced sales or bus dev person will help minimize the number of pivots, but you should still be prepared for them.”

&nbsp;

You can find Hendrik on <a href="https://angel.co/hendrik-van-der-meer">Angel List here</a> or learn more about <a href="http://vilynx.com/">Vilynx on Twitter</a>.

&nbsp;

<strong>About the Author</strong>
This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com">deliciousduo.com</a>.