<p>
Intel Capital announced more than $22 million of new investments in 10 startups at the Global Summit this morning.
</p>

<p>
	“As all of these exciting investments and new products show, Intel Capital is dedicated to seeking out disruptive innovation around the globe and helping the entrepreneurs behind it achieve new heights,” said Wendell Brooks, Intel Corporate Vice President and incoming President of Intel Capital. “Leveraging the power of Intel’s worldwide technology footprint is an advantage no other venture investor can offer at such scale.”
</p>

<p>
	Intel Capital expects to invest more than $500 million in technology companies this calendar year, up from $359 million in 2014.
</p>

<p>
	If you’re wondering what type of startups and technologies fit the Intel Capital portfolio, here are some of the new portfolio companies that were announced a few hours ago.
</p>
 
<h5 class="margin-top">New Communications</h5>

<p>
	<a href="http://www.freedompop.com/">FreedomPop</a>* (Los Angeles, California, U.S.) provides disruptive mobile services so no one is left off the “connected grid.” Launched in 2012, FreedomPop is rewriting the rules of the American telecoms industry, offering consumers access to free high-speed Internet and mobile phone services nationwide.
</p>

<p>
	<a href="http://www.lisnr.com/">LISNR</a>* (Cincinnati, Ohio, U.S.) is the creator of Smart Tones, a new communication protocol that sends data over audio using a high-frequency, inaudible technology. It is a digital sound file that turns any speaker or piece of media into a beacon, working seamlessly across physical and digital spaces more effectively than all current solutions in the marketplace, most notably Bluetooth and traditional ACR. LISNR is the latest portfolio company to receive an investment from Intel Capital’s groundbreaking $125 million Diversity Fund.
</p>

<p>
	<a href="http://www.sckipio.com/">Sckipio</a>* (Ramat Gan, Israel), the leader in G.fast modems, is the first company to announce and ship commercial G.fast chipsets that will deliver up to 1Gbp/s broadband the last mile to the home over existing copper wiring.
</p>

<p>
	<a href="http://what3words.com/">what3words</a>* (London, United Kingdom) is a multi-award-winning addressing platform that allows people to find and communicate a location more accurately, more easily and with less ambiguity than GPS or postcodes (which don’t exist in many countries). what3words works across platforms, can be easily integrated into other applications and presents huge efficiency opportunities for businesses.
</p>
 
<h5 class="margin-top">Technology around Me</h5>

<p>
	<a href="http://www.bodylabs.com/">Body Labs</a> (New York, New York, U.S.) collects, digitizes and organizes all of the data and information related to human body shape, pose and motion. Its mission is to transform the human body into a digital platform upon and around which goods and services can be designed, produced, bought and sold.
</p>

<p>
	<a href="http://www.program.com.tw/">Microprogram Information</a>* (Taichung, Taiwan) is an Internet of Things solution and service provider that provides turnkey hardware and software solutions and backend information management services for rental bicycles, taxi fleets, mobile point-of-sale systems and others. The company has strengths in e-payment service flow, embedded system integration, RFID/MiFARE familiarity and service support experiences.
</p>

<p>
	<a href="http://www.perfant.com/en/index.html">Perfant Technology</a>* (Beijing, China) develops imaging and video technologies for artificial intelligence, machine vision, 3-D reconstruction and virtual reality. Perfant’s new panoramic camera, eyesir, can be used in tourism, aviation, virtual reality, smart homes, real estate, media, weddings, sports and various events.
</p>
 
<h5 class="margin-top">Old Problems, New Solutions</h5>

<p>
	<a href="http://chargifi.com/">Chargifi</a> (London, United Kingdom) is a wireless charging network using power as a platform for enhancing people’s everyday experiences. From coffee shops to hotels, restaurants, offices and airports, “Chargifi Spots” form an intelligent network giving people access to power for mobile devices where and when they need it most.
</p>

<p>
	<a href="http://www.kmlabs.com/">KMLabs</a>* (Boulder, Colorado, U.S.) is a leading manufacturer of compact, high-performance, ultrafast advanced laser systems for research and industrial applications, including multi-photon imaging, spectroscopy, OCT, THz-generation, CEP, micro-machining and attosecond, coherent soft X-Ray and EUV pulse generation. It is the only commercial supplier of a coherent "tabletop x-ray laser" light source. The company's femtosecond (one quadrillionth of a second) laser systems and Ti:sapphire lasers offer unprecedented new solutions for industrial metrology, imaging and materials characterization.
</p>

<p>
	<a href="http://www.prietobattery.com/">Prieto Battery</a>* (Fort Collins, Colorado, U.S.) is a 3-D advanced battery provider focused on commercializing a patented Lithium-ion battery technology that delivers transformational performance at a competitive cost using non-toxic materials with the ability to customize shapes.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
