<p>
	<img src="img/investors/jes-lipson.jpg" alt="Jes Lipson">
</p>

<p>
  Jes Lipson is a familiar name in the Triangle. As the founder of <a href="http://www.sharefile.com">ShareFile</a> (acquired in 2011 by <a href="http://www.citrix.com">Citrix</a>), he has been an integral part of the Triangle ecosystem. ShareFile/Citrix HQ is located in the heart of Downtown Raleigh, just steps away from the HQ Raleigh, a great co-working space that is frequented by startups in the area. Jes is one of the rare startup founders who has had a successful ($54m) without raising a single penny from outside investors.
</p>

<p>
  An investor in <a href="http://www.hqraleigh.com">HQ Raleigh</a> and an active community member, we sat down to ask Jes his perspective on startups, the Triangle, how he looks at building companies, and what you should be thinking about when building yours.
</p>

<h4 class="margin-top">What do you spend most of your time doing these days?</h4>

<p>
  When I started ShareFile, I was a software developer. I spent a lot of time doing implementation. Now, we have 65k+ customers and 700+ employees, which means I spend a vast majority of my time in meetings (about 8-12 per day).
</p>

<p>
  My main job is figuring out strategic priorities for the business and communicating those goals to the broader group.
</p>

<p class="text-center margin-top">
	<img src="img/articles/citrix-logo.jpg" alt="Citrix Logo">
</p>

<h4 class="margin-top">How did you boostrap ShareFile to a $54m exit?</h4>

<p>
  Before ShareFile, I had a services company and used that to build ShareFile. I took the ~$4k/month from one company and invested it in ShareFile. Eventually, ShareFile grew and became my main focus.
</p>

<p>
  Many first time entrepreneurs think that success is something that happens overnight. The truth is that businesses take time to build. To give other entrepreneurs perspective of how a company can grow to a $54m exit, Jes shared some numbers with us.
</p>

<p>
  “It took me 2 years to get to 4 employees and 3 years to 15 employees. For most startups, it takes a few years to get to $1m in revenue. It took us 3 years to cross the $1m revenue mark, and then we grew it from there and eventually reached 4 million users in 6 years.”
</p>

<p class="text-center margin-top">
	<img src="img/articles/sharefile-logo.png" alt="ShareFile Logo">
</p>

<h4 class="margin-top">
  There is a pattern that often develops with successful entrepreneurs to help them repeat success. What would you say are the patterns or conditions you try to create when going into new ventures?
</h4>

<p>
  Jes’ response to this question was quite a change for many of the responses I’ve heard to this same question. It reflects the ethos of the Triangle startup culture, a steady and scrappy mindset which brightly contrasts with the Silicon Valley’s startup mindset of being different or chasing change.
</p>

<p>
  “I like to start a business in a category with existing players and competitors. Building a business is hard, and as an entrepreneur you need to figure out what challenges you want to face. If you decide to focus on a new space, you need to convince people that there should be a market. ShareFile was not a unique idea, but there was enough demand in the market to feel like I could take away market share. I had the same approach with HQ Raleigh.”
</p>

<p>
  “Both ShareFile and HQ started with some level of demand. There were customers asking for it. I saw bottom up demand. If an idea can succeed on a small scale, it can succeed on a big scale. I prefer ideas that you can scale. With HQ, we can be successful in Raleigh, and then move to become successful in other cities. I felt the same way about ShareFile. If I could grow the business to 100 customers, then I could have 1000 customers. In numbers, I could easily grow the business to $1m.”
</p>

<p>
  (For those of you who don’t know, HQ Raleigh recently <a href="http://www.newsobserver.com/news/business/article60082096.html">launched HQ Charlotte</a> this past year and has a third location in Greensboro.)
</p>

<h4 class="margin-top">
  What do you think is the biggest differentiator to the Triangle startup community and/or the startups here? Why should investors outside of the Triangle show interest in the tech scene here?
</h4>

<p>
  Startups here are more pragmatic and focused on building a successful business and not necessarily plugged in to the latest trends or buzzwords, for better or for worse. There are a lot of trends that happen in the Silicon Valley, which is why we see a lot of booms and busts. Triangle companies focus on building sustainable businesses, which might be slower, but potentially more successful.
</p>

<h4 class="margin-top">
  Every entrepreneur dreams of selling their company. What was that process like and what advice do you have for companies trying to do so?
</h4>

<p>
  Jes shares that the process of selling ShareFile was incredibly stressful, and nods to the idea that it was probably the most stressful year for him.
</p>

<p>
  “After the financial crisis, I didn’t think we would sell for a few years, but it happened faster than I expected. By early 2011 the economy was moving again. We were approached by a couple companies, one of them being Citrix.”
</p>

<p>
  In reviewing the current state of the market, Jes made the decision bootstrapping the company would no longer be a viable path. Market conditions were changing. Yousendit, Box, and Dropbox were raising rounds of $30-50m and there were rumors of Dropbox in the market to raise $250m.
</p>

<p>
  “We started the process in January of 2011, and began getting traction in March. By early August, we had an LOI and closed the deal in mid-October."
</p>

<h5 class="margin-top">
  “There are only 2 ways your company can end - you either exit or go out of business.”
</h5>

<h4 class="margin-top">
  Should early stage companies be thinking about their exit strategy?
</h4>

<p>
  “Absolutely you should think about it. Thinking about your goals and what you want to eventually build is important. Early on, I had an excel business model of where I could take the company in a few years. I created a 5 year model and made a lot of guesses, but having that plan on paper is key. As things unfold, you should compare it to your model and learn from that."
</p>

<h4 class="margin-top">More About Jesse Lipson</h4>
<p>
	Jesse is the CVP &amp; GM of the Cloud Services Business Unit for Citrix, which acquired his company ShareFile in 2011. ShareFile is a file-transfer service built for business users who need secure, reliable and easy tools for sharing data. He launched ShareFile in 2005 and bootstrapped the company from zero to four million users in six years; today Citrix ShareFile has millions of users in more than 100 countries. He also has launched and/or led several other cloud and e-commerce businesses, including Rapidata.net, a pharmaceutical market research company, and the website development firm novelProjects. Though he's been part of Citrix for several years now, he still feels like (and approaches his work like) an entrepreneur. As a founding partner of HQ Raleigh and ThinkHouse, he's particularly interested in helping the Research Triangle area become a top-five region for entrepreneurship and innovation in the U.S. Jesse holds a degree in philosophy from Duke University and serves on the board of directors of Yext.
</p>
<p>
  You can follow Jes and his ongoings on Twitter <a href="http://www.twitter.com/jesselipson">@jesselipson</a>, and find him writing on <a href="http://www.forbes.com/sites/jesselipson/#10920833241b">Forbes</a>.
</p>
<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
