<p>
	Jim Jensen is a partner in Perkins Coie’s  firm's Emerging Companies &amp; Venture Capital practice and a leader of the firm's China Emerging Company and the Investment Fund Formation practices in Silicon Valley. He is an entrepreneur himself, making him well equipped to better serve startups in the Silicon Valley.
</p>
<p>
	<img src="img/perkins-coie-logo.JPG" alt="Perkins Coie Logo">
</p>
<h4>How is Perkins Coie startup friendly?</h4>
<p>
	“We’re focused solely on startups,” says Jim, “We like to join tech companies when they are very early stage and create incentives for those companies, while many law firms have moved to representing later stage companies”.
</p>

<p>
	"Perkins Coie has attractive deferral packages and does work on a fixed fee basis so companies can raise capital without having to worry about huge upfront legal bills."
</p>

<h4>Convertible Debt or Seed Round? Which is better?</h4>
<p><b>On convertible debt</b></p>
<p>
	“You should choose the type of fundraising based on how much you are going to raise. Convertible debt is great if you’re raising under $1.5m. It’s easier because you don’t need a lead investor and there is no investor council involved. Typically, all a startup has to do is create a term sheet and shop it around. Convertible debt is also great if you are trying to raise capital over time. It’s the cheapest, fastest, and most flexible.”
</p>

<p>
	“The negatives about convertible notes is that it assumes there is going to be a next event. If you don’t think there is, then it almost does not make sense. Convertible debt is a bridge to another round. If you’re going to be profitable, then you may not need another round.”
</p>
<p><b>On seed and series seed</b></p>

<p>
	"If you’re looking to raise between $1.5 to $3m, this is a typical seed or series seed priced round. Usually one investor is the lead and will negotiate the term sheet. The benefit to companies is that there is no interest due. But, there are more restrictions. For example, usually a board seat is involved and you give up voting rights. You have less flexibility when it comes to changing your board or selling your company."
</p>

<h4>What is one piece of advice you want to give founders after they fundraise?</h4>
<p>
	"The tendency after you fundraise is to go start hiring people and spending money. Don’t do it. Just because you raised capital doesn’t mean you should go buy fancy chairs or hire employees. Be just as selective in the people you hire and how you spend money. It’s hard to raise capital and the money goes fast."
</p>

<h4>The best and worst thing to do when communicating with investors?</h4>
<p><b>The best thing</b></p>
<p>
	"Be confident when communicating with your investors. Present an image and know what you’re talking about. You do have to be assertive with investors when fundraising. Most investors have to be convinced to put in money and it’s your job as a startup founder to raise capital and be persistent, but not annoying."
</p>

<p><b>The worst thing</b></p>
<p>
	"The worst thing you can do is be overly arrogant. If you negotiate too hard on terms, you may be perceived as difficult and hard to work with. If you do not demonstrate you are a coachable founder, that is bad. Be professional, responsive, and sell, but don’t come across as a jerk."
</p>

<h4>What are the most important things from a legal perspective when you are fundraising for your company? </h4>
<p>
	“Your company is not going to be successful because of your legal structure. But, if you set things up the wrong way, it’s a bad signal with investors that you don’t know what you’re doing. You want to be as normal as possible when it comes to your legal structure."
</p>

<h4>Working with Jim Jensen at Perkins Coie</h4>
<p>
	Jim is trusted legal counsel to dozens of my startup friends in the Silicon Valley, and we have had nothing but great experiences with him. To work with him, send an email to {{perkins-coie-contact}} and good luck with building your own startup!
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>