
<p>
	I sat down with <strong>Josh Breinlinger</strong>, Managing Director of <strong><a href="http://sigmawest.com/" target="_blank">Sigma West</a></strong> and Co-Founder of <strong><a href="https://www.rev.com/" target="_blank">Rev</a></strong> a few weeks ago to discuss his extensive experience in startup growth and strategy.
</p>

<p>
	Josh is best known for his contribution to the success of <strong>oDesk</strong> (now <a href="https://www.upwork.com/" target="_blank">Upwork</a>) and how he helped the company grow in early years. With his oDesk background and the success he helped them find, it’s no surprise that at Sigma West he focuses on investing in startups building marketplaces.

</p>

<p class="text-center margin-top">
	<img src="img/articles/upwork-odesk.jpg" alt="oDesk is now Upwork">
</p>

<h4>How did oDesk achieve the growth in the early years?</h4>
<p>
	“One thing people don’t realize is that oDesk only became an online self service product 5 years after starting. When things started at oDesk, everything was very manual. I was a hamster running in a wheel with responsibilities such as recruiting developers in Russia, sending resumes to customers, arbitrating disputes, and much more.”
</p>

<p>
	“Everything was manual and there was no marketplace for the first year. We built up the “brute force method” way and did everything manually. The success of the oDesk platform was identifying different operational problems we were experiencing and needed to solve to scale and building those things to enable us to do our jobs better.”
</p>

<p>
	Josh’s story of oDesk’s early days reminds me of the early days of Dishcrawl, where we did everything manually and focused development in the same manner – evaluating the biggest pain points of our operations team and building tools to help alleviate the pain.
</p>

<p>
	“We needed a better profile creation tool, so product and engineering built it for us. Job posting was difficult, so they helped us with that. We scaled based on what we needed.”
</p>

<h4>As startups begin to scale and mature, what are the challenges they should be aware of?</h4>

<p>
	<em><strong>On sales and marketing</strong></em>
	“There is a professionalization that happens as you grow. When you are a scrappy startup you can throw stuff to the wall to see what sticks, but once you attract enough attention you can’t throw crap out there and see what works. You need to be professional.”

</p>

<p>
	<em><strong>On operations</strong></em>
	“As startups scale up to a larger operation, one of the biggest challenges is having to constantly update your org structure. When you are 10 people, everyone knows what is going on. As you scale, you must reorg. There will be too much work for some, and too little work for some that you need to balance.”
</p>

<p>
	<em><strong>On metrics and business intelligence</strong></em>
	“Many startups don’t do enough in terms of business operations metrics. If you look at mature companies, they have fantastic business intelligence and know everything about the business. It takes significant investment to get it right and many early stage startups run on gut instinct. They don’t know the health of the company as well as they should.”
</p>

<h4>What are some growth strategies for startups to consider?</h4>

<p>
	“With regards to marketplaces, you have to solve the chicken and egg problem. One way is to give away a free software tool and focus on getting as many users as possible, then monetize in different ways. Offline hacks are important to consider as well, especially for consumer services.”
</p>

<p>
	Josh suggests startups to consider growth hacks such as going into office complexes where employees enter and exit daily to put their product in the hands of the right people to gain traction.
</p>

<p>
	He has a great <a href="http://acrowdedspace.com/" target="_blank">blog</a> in which he writes about startups here and has a great article on <a href="http://acrowdedspace.com/post/94448008387/liquidity-hacking-how-to-build-a-two-sided" target="_blank">Liquidity Hacking here</a>.
</p>

<h4>Get To Know Josh and SigmaWest</h4>

<p>
	To follow what Josh has to say on the daily, visit him on <a href="https://twitter.com/jbreinlinger" target="_blank">Twitter</a> or learn more about Sigma West <a href="http://sigmawest.com" target="_blank">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>

<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>