<p>
	Jules is a Director in KPMG’s Venture Capital Practice and has been in the Bay Area for 20+ years watching the ebb and flow of the startup industry.
</p>

<p>
	On a mission to find the next Google or Twitter, Jules meets quite a few companies from early stage to late growth startups. If you get the chance to meet him, he loves to help with business models, make introductions to entrepreneurs, investors and service providers, and is always willing to lend a hand (or an ear).
</p>

<p class="margin-top text-center">
	<img src="img/articles/kpmg-logo.jpg" alt="KPMG Logo">
</p>

<h4 class="margin-top">How does KPMG help startups?</h4>

<p>
	For earlier stage startups that are in bootstrap mode, the primary area that KPMG can add value is related to internationalization. The web makes it easy for startups to establish a presence overseas in new markets, but it’s important that the expansion is accompanied by standard processes that many new companies may not understand. 
</p>

<p>
	When companies expand into Europe or Asia and suddenly have an international presence, they may not realize the tax implications like VAT, what are the laws in different countries and jurisdictions when hiring employees overseas, and so much more. A global firm like KPMG, can give startups the guidance needed to do things the right way and take care of necessities.
</p>

<p>
	“It is critical for startups to get advice when thinking about international expansion. Understanding tax implications and where you can find the best talent will be crucial to your company’s success later on.” says Jules.
</p>

<p>
	For later stage companies, financial audits are where KPMG provides extensive value. For companies in the series B or series C stage, VCs, lenders and strategic investors are beginning to look for audits and documentation around financials.
</p>

<p>
	“Though your startup may not be at series B or C yet, it’s really good to start talking with the people that can help you out later as you grow your company.”
</p>

<p>
	KPMG also has a corporate finance team that assists with the M&amp;A market and a deal advisory group that can help with the nuts and bolts of an acquisition transaction.
</p>

<h4 class="margin-top">What are some of the interesting trends you’re currently seeing in the market?</h4>

<p>
	On unicorns and valuations - “Every week we seem to be seeing another 1-3 companies get funding that puts them into the unicorn club.  That designation is starting to lose some of its luster.” 
</p>

<p>
	On IPO - “These days, capital seems to be easy to get for growth-stage companies that very few established companies need to do an IPO. In Q1, the IPO market pulled back a bit. The IPO market is the lifeblood of the Silicon Valley at the end of the day, yet somewhere north of 80% of all exits are M&A vs. IPO. If IPOs continue to slow, then we may start to see a trickle down effect in the local economy.
</p>

<h4 class="margin-top">What are some of the harder things you’ve seen startups face?</h4>

<p>
	“For the younger companies, it’s perspective. When you are building your business plan and business model, you may be too close to it to see the warts. It’s always a good idea for you to get an outsider or unaffiliated individual to take a look and kick you in the ass if things are off kilter. Another set of eyes helps give you a different perspective on the market you’re addressing. Having someone ask you the questions you are not thinking of related to the market and competition can give you a push in the right direction.”
</p>

<p>
	“If you’ve been devoted to your startup for a few years, then it’s hard as a founder to take a step back and recognize when it’s time to move on. There are very few founders like Zuckerberg that are able to take a company from dorm room to IPO. There is an inflection point in every founder’s journey that can be hard to pinpoint where you need to step away so the company can be taken to the next level.” 
</p>

<p>
	“When expanding, the biggest mistakes people have made are going whole hog on opening a new market or presence elsewhere. They typically think they’ve got some traction in Europe, so it’s a great idea to fly a bunch of people out or hire several people locally to open an office there. If you do that, it can be very difficult to unwind what you’ve done due to local laws. That is where a company like KPMG comes in handy. We know the pros and cons of different jurisdictions and can advise accordingly. Companies wanting to expand internationally should take it slow. Send someone over there on a part time basis to hang that shingle overseas. Don’t go hire a bunch of people only to regret it later on.”
</p>

<h4 class="margin-top">Get to know Jules</h4>

<p>
	Jules Walker leads the business development efforts for KPMG’s Emerging Technology practice in the Bay area and beyond, focusing on creating and expanding relationships with hot start-ups and pre-IPO companies. He has spent his 20+ year professional career in financial services working for companies such as Bank of America, Robert Half and Textron Financial. He can be found on <a href="https://www.linkedin.com/in/juleslwalker">LinkedIn</a>. You can find out more on KPMG <a href="http://www.kpmg.com/">here</a>. 
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
