
<p>
  As more and more people are venturing into the world of entrepreneurship, we decided to explore the similarities and distinctions between the two most common types of business.
</p>

<p>
  Justin Miller, co-founder of El Taco Cartel (small business) and WedPics (venture backed startup), entertained us in a discussion on this topic so many looking to start businesses are curious about.
</p>

<p class="text-center">
	<img src="img/panelists/justin-miller.jpg" alt="Justin Miller">
</p>

<h4 class="margin-top">Introduction to Justin Miller</h4>

<p>
  Justin is the CEO and Co-founder of Deja Mi, INC. focusing on disrupting the $100B+ wedding Industry with the app, WedPics: The personalized photo-sharing platform for weddings. In 2016 WedPics hosted 7K+ weddings/weekend, seeing monthly uploads in the millions. Today, 1K+ brides sign up for WedPics every day.
</p>

<p>
  Prior to launching WedPics, the Deja Mi INC team cut their teeth in the photo sharing space with deja mi, a location/event based photo sharing platform. Upon release in early 2012 deja mi was featured as an Apple New and Noteworthy app in 90 countries yielding a user base of 30K+ in the first month (at zero acquisition cost), along with partnerships with corporate giants like IBM and Lenovo. He is also the co-founder of El Taco Cartel, a Raleigh based taco bike.
</p>

<p>
  Traditional startups are great, but passionate side projects that turn into small businesses are awesome too. We asked Justin a few questions about his exciting new venture El Taco Cartel, a taco bike, the first of its kind in the Raleigh-Durham area.
</p>

<h4 class="margin-top">What was your inspiration for starting El Taco Cartel?  How did you create the concept?
</h4>

<p>
  The idea came about one night as my business partner, Lily and I discussed things that were missing in the city of Raleigh.  We thought about a late night taco cart and the idea progressed from there.
</p>
<p>
  The conversation ultimately turned into a bicycle cart concept with the thought that not only could it be stationary but mobile as well. Creating this allowed us to serve food outdoors without having the full undertaking of a traditional food truck. Although Lily came from the service industry and has own several restaurants and bars, this type of business was new to the both of us.
</p>

<h4 class="margin-top">What did you find to be the most challenging?</h4>

<p>
  Everything was challenging.  From coming up with the concept, designing something that was feasible within the budget, the actual build out of the cart itself, the permits, to the rules and regulations that we had to not only follow but create in a sense because of the fact that something like this had not existed locally before.
</p>
<p>
  There were hundreds of mistakes learned along the way but we were able to grow from those mistakes. Mistakes from the design, the initial concept, to the execution all were key pieces in the evolution of our product.
</p>

<h4 class="margin-top">Can you explain the differences between a small business and venture backed startup?
</h4>

<p>
  A small business seeks profitability from day one whereas a venture backed start up is a business that doesn’t necessarily have to seek profitability because the end goal is different.  A small business tries to become sustainable on its own but venture backed startups are designed to be repeatable and scalable most often with an exit strategy. In most cases, this means an acquisition by a larger company, in other cases it will be an IPO and or it will be profitable - pursuing profitability is not always at the forefront of the mind of a startup entrepreneur.
</p>

<h4 class="margin-top">What are some similarities between the two?</h4>

<p>
  There’s tremendous amount of parallels between a small business and venture backed startups.  At the end of the day you’re running a business.  You’re running a business whether it’s an app company, a taco bike or a 3D printing shop. You’re coming up with new concepts, testing the boundaries, and looking for ways to scale in your market.
</p>

<h4 class="margin-top">Is it easier to obtain funding for a small business versus a venture backed startup?</h4>

<p>
  I don’t think it’s easy to obtain funding for either one. It boils down to your ability as a leader within the company to sell a vision and to get people to believe in that same vision that you have. If you do that it doesn’t matter if you’re selling tacos or you’re selling an app.  You must craft a story, tell that story and then deliver with results. You’ll need to have some degree of data surrounding that story unless you have some tremendous proven track record as an individual which most people do not have.
</p>

<p>
  If you’re somebody that has exited multiple companies with proven record of success then you don’t necessarily need that data driven story in order to bring in capital but for the rest of us, that’s what it requires. You create an idea, you test that idea in some capacity, and show results, especially what you’ve learned from it.  The opportunity to raise capital then becomes more accessible.
</p>

<h4 class="margin-top">Would you consider El Taco Cartel to be startup or small business?</h4>

<p>
  It’s sort of both.  It’s certainly not a venture backed business but it’s a business that required capital investments behind it in order to get it off the ground. It’s definitely a startup mentality—I was able to bring my experience from the startup world in terms of figuring out how to get around roadblocks throughout the process. But it also is a small business as the design was built so that it could scale across the state and ultimately across the country.  I would say that it jumps back and forth between small business and venture backed start up.
</p>

<h4 class="margin-top">What’s next for El Taco Cartel?
</h4>

<p>
  We’re only a few weeks into the market so we have a lot to learn.  The idea down the road would be to replicate what we’ve created both physically and from a product standpoint.  This is all dependent upon the success, what resonates with people and what doesn’t.  We have lots of testing to do with the menu so we’re definitely in the infancy stage but the end goal would be to really grow it across the state and the country.
</p>

<h4 class="margin-top">Connect with Justin
</h4>

<p>
  You can reach Justin at his personal twitter handle <a href="http://twitter.com/imjustinmiller">@imjustinmiller</a>, the taco cart at <a href="http://twitter.com/Taco_Cartel">@Taco_Cartel</a>, or follow WedPics <a href="http://twitter.com/wedpicsapp">@wedpicsapp</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{cherisa-bio}}
</p>
