<p>
	Lisa Wu of Norwest Venture Partners shared a little fundraising 101 with us last week. Here’s a quick guide for startups looking to fundraise for the first time.
</p>

<h4>Give us a brief background on your firm and mission.</h4>

<p>
	Norwest Venture Partners is a global multi-stage capital and growth equity firm that has been around for over 50 years. We invest across a wide range of sectors including cloud and IT infrastructure, SaaS and enterprise software, Internet and consumer, services and healthcare.
</p>

<p>
	Last May, we raised a $1.2B fund. We have a lot of flexibility in investment size, from a few hundred thousand to more.

</p>

<h4>Do you have a preference for pitch deck or 1-pager when making the first connection?</h4>

<p>
	I prefer a pitch deck when making the first connection. This allows me to learn more about the company through a logical sequence of information, and it is an industry norm.
</p>

<p>
	The introduction, however, is the most important. Getting a warm, positive introduction through a mutual connection is much better than a cold call. We do review cold leads, but put more weight on the warm ones.
</p>

<h4>Have you been turned down by a founder as an investor? What is that experience like?</h4>

<p>
	I haven’t been turned down at a term sheet level yet, but being turned down doesn’t feel great, and it is an inevitable part of the business. You can be turned down due to compatibility, valuation, deal terms, or more.
</p>

<h4>What are some examples of how you've helped your portfolio companies succeed?</h4>

<p>
	There are a variety of ways we help our portfolio companies succeed. We have a very wide and established network.
</p>

<p>
	One of the biggest ways we help our companies succeed is by helping them find and screen candidates. We have an in-house recruitment team that does this full time.

</p>

<p>
	We also help our companies with fundraising and introductions to other venture firms.
</p>

<h4>What are some red flags in failed companies that you wish you had seen?</h4>

<p>
	Red flags can occur in many different places. Whenever I evaluate a company, I look at the product, product-market fit, market size, competition, the management team’s ability to execute, exit risk, among other factors. I have seen companies fail at every type of risk.
</p>

<h4>Get to Know Lisa Wu and Norwest Venture Partners</h4>

<p>
	You can follow Lisa on Twitter at <a href="https://twitter.com/vc_lisawu">@VC_LisaWu</a> and learn more about Norwest Venture Partners <a href="http://www.nvp.com/">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>