<p>
	There are plenty of venture firms in the Silicon Valley, but a rare few with a great mission such as that of Comcast Ventures’ new Catalyst Fund. I sat down with Lo Toney the other day to discuss Comcast Ventures and his opinion on early stage ventures. 
</p>

<p class="margin-top text-center">
	<img src="img/articles/comcast-ventures.png" alt="Comcast Ventures Logo">
</p>

<h4>About Comcast Ventures</h4>
<p>
	Comcast Ventures has 2 affiliated funds. The main fund’s investment strategy is strictly driven by ROI. Though the fund is stage agnostic, they tend to look for companies who are a little further along in their lifecycle and roughly 80% of the deals they review are Series B or later.
</p>

<p>
	“We are sector driven and invest in everything from e-commerce, IoT, infrastructures, security, mobile, and all the typical sectors you would expect a normal venture firm to look at.” says Lo.
</p>

<p>
	The Catalyst Fund, however, has a more interesting story to it. This fund invests in entrepreneurs of color at the seed stage and writes checks between $100k to $1 million with an average of $250k per check.  They are focused on investing in those entrepreneurs that have been historically underrepresented. This is typically African American, Latin American, and Native American-run companies.
</p>
 
<h4>How does having Comcast Ventures as an investor help companies succeed?</h4>
<p>
	“Because of our ties to Comcast and NBC Universal, there is always a way we can help our companies succeed. Once companies we invest in have reached a certain scale, they have an easier path to gain access for distribution. We have a massive number of users, cable boxes in over 23 million homes in the US, a vast wifi network with the largest footprint in the US, a large ISP business, and have networks like Bravo, E, and other affiliate broadcasters to help spread the word.”
</p>

<p>
	The possibilities sound endless.
</p>

<p>
	“One example is a wearable tech company we invested in.” says Lo. “We had the CEO meet with the distribution team for set top boxes, introduced him to the HR teams that are battling obesity, and the producers for The Biggest Loser. We gave them exposure they would otherwise not have had, and they gave us the ability to look at the technology through a different lens during the due diligence process.”
</p>

<h4>What would you identify as the “pivotal point” for most startups?</h4>
<p>
	“The pivotal point for early stage companies is when they find product market fit. If a company can identify the right market opportunity that has a clear problem and innovate with the right solution, that is really special and it’s exciting.”
</p>

<p>
	“It may be an emerging new market or an old market, but that moment of product market fit is when things begin to change for an early stage startup. Then, they can shift into focusing on scaling versus customer development and distribution.”
</p>

<p>
	Many entrepreneurs have the ability to spin out an idea, do a lot of experiments, and make *something* work, but Lo cautions that the difference between success and the opposite is a fine line. Lo stresses the importance of putting in a lot of qualitative work to qualify the results that helped you reach a conclusion about your product, make sure they are accurate, and make sure the revenue and long term value of the customer is there.
</p>

<h4>What are some of the mistakes entrepreneurs make after they raise?</h4>

<p class="text-center margin-top">
	<img src="img/articles/spend-money.jpg" alt="Spend Money Image">
</p>

<p class="margin-top">
	“Mistakes vary by the actual entrepreneur and sector. Spending too much money or spending too little money is often a problem. The good news is the entrepreneur is in control of how much money they spend and the order in which they spend the money.”
</p>

<p>
	Lo also discusses the idea of “taking a break” after you fundraise or making the mistake of thinking you’ve accomplished something.
</p>

<p>
	“A lot of times entrepreneurs think that they can take a break after they raise, but that is when things should start. You need to put a lot of thought behind hiring the right people, figuring out how to spend the capital, how you are going to scale, how you are going to maximize your efforts, and a variety of other factors.”
</p>

<h4>Get to know Lo Toney and Comcast Ventures</h4>
<p>
	Lo serves on the board of multiple startups and can be found on <a href="https://twitter.com/lo_toney">Twitter</a> if you want to join in the conversation. You can find out more on Comcast Ventures <a href="http://www.comcastventures.com/">here</a>. 
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>
