<p>
	Disruption and innovation is a constant in the Silicon Valley and there are great minds everywhere you look. Meet Marco, the founder of Mind the Bridge, an organization providing a wide variety of programs for both startups and angel investors. He is also managing partner of Mind the Seed, a fund that provides seed funding for early stage startups.
</p>

<p>
	I sat down with Marco the other day to discuss his perspective on early stage investments and both Mind the Bridge and Mind the Seed, which operate synergistically and are headquartered in San Francisco.
</p>
 
<p class="text-center">
	<img src="img/articles/mts-fund.png" alt="Mind The Seed Fund Logo">
</p> 

<p>
	Mind the Seed invests in companies with international co-founders where their backgrounds and location give them a competitive advantage over startups located in the Silicon Valley.
</p>
 
<p>
	An example of this may be a startup with founders from Italy looking to disrupt the food tech or luxury brand industry. Based on their history, they may have a deeper, more profound understanding of the industry and how to disrupt it. Or, a better chance of making the right connections in these industries internationally with no language barrier problems.
</p>
 
<p>
	Mind the Bridge also provides invaluable help to international founders. This ranges from helping them integrate into the Silicon Valley startup culture, making the right introductions to Bay Area investors, and even assisting in the immigration process.
</p>
 
<h4>How do you help companies through Mind the Bridge?</h4>
<p class="text-center margin-top">
	<img src="img/articles/mind-the-bridge.png" alt="Mind The Bridge Logo">
</p>

<p>
	“We use Mind the Bridge as a way to help entrepreneurs by working with them in a hands on environment. We help localize interesting international companies that would work well in the Silicon Valley.”
</p>
 
<p>
	“With Mind the Bridge, we are also able to take on riskier investments but decrease that risk by working with companies on a daily basis.”
</p>
 
<h4>How can a company get funding through Mind the Seed?</h4>
<p>
	“For MTS, our normal due diligence is to ask companies to spend 1-3 weeks with us at the MTB foundation. At MTB, we run startup school 6 to 7 times a year and provide structured support with startups full time. When the fund sees an interesting investment, we ask that they join the program (we pay for everything), but it allows us to get a better idea of the team and the idea. This works especially well for vetting earlier stage investments.”
</p>
 
<h4>What type of investments do you typically make and what are your expectations?</h4>
<p>
	“Seed investments are our sole focus, so we look for companies that fit that profile. We don’t do follow on investments, but when those companies begin looking for their Series A, we do make introductions to our network and find other investors that may be interested at that stage.”
</p>
 
<p>
	“We also look make sure the companies we look at have an exit strategy from the beginning.”
</p>
 
<h4>Are there any defining traits you see in successful entrepreneurs you invest in?</h4>
<p>
	“People who have a very strong commercial ability is an important trait. Selling your product is so important. From day 1, it’s not about being in love with a product but it’s about selling it and being passionate about selling it. You must be able to sell to co-founders, partners, and investors.”
</p>
 
<p>
	You can find Marco on Twitter <a href="http://twitter.com/mmarinucci">@mmarinucci</a> and find out more about Mind the Bridge at <a href="http://mindthebridge.org/">http://mindthebridge.org/</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>
