<p>
	Amidst the constant buzz of the Silicon Valley, there is a man named Marlon Nichols who is one of the leaders facilitating a much welcomed change in the industry.	
</p>

<p>
	Marlon has been with Intel for a few years now, but just recently he has been charged with leading investments for Intel’s new initiative that aims to invest $125m in women and underrepresented minority led technology companies. This new initiative is executed through Intel’s new diversity fund. The fund still targets investments that are strategically relevant, but focuses on investing in those with diverse leadership teams. 
</p>

<h5 class="text-center margin-top">“The mission is important and it allows me to be a little bit more free and diverse in the types of investments I get to evaluate.”</h5>

<p class="margin-top">
	This new fund is focused on expansion stage companies that are strategically aligned with Intel.
</p>

<h4>Providing Immeasurable Business Value To Startups</h4>

<p class="text-center">
	<img src="img/articles/intel-capital.jpg" alt="Intel Capital Logo">
</p>

<p>
	“The access that Intel provides is very valuable.” says Marlon.
</p>

<p>
	One of the key benefits for startups to work with Intel Capital is the access to intel executives, partners, and technology.
</p>

<p>
	During technology days, Intel invites its customers and partners to meet with startups to solve real business problems. Startups get access to decision makers in an intimate setting which leads to a high conversion rate of follow-up meetings and mutually beneficial business deals.
</p>

<p>
	Another key area that Intel provides value and access is during their Global Summit. With executives from partner organizations, Intel executives, and Intel Capital’s portfolio companies converging in one room, meetings are facilitated to allow their startup investments to meet face to face with important decision makers.
</p>

<p>
	Working with Intel allows startups who have found product market fit to amplify their growth at an exponential speed and breaks down the barriers of entry where most fail.
</p>

<p>
	Other ways Intel provides access are the vast amount of technology resources they are able to provide as well as access to Intel’s business development organization that can help facilitate getting portfolio investments into larger companies.
</p>

<h4>
	Get to Know Marlon Nichols and Intel Capital
</h4>

<p>
	To learn more about Marlon, follow him on <a href="https://twitter.com/marloncnichols">Twitter</a> or read more about Intel Capital <a href="http://www.intelcapital.com/">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>