I sat down with Miki recently to discuss <a href="http://dena.com/intl/">DeNA</a> and his role as strategic investment partner of DeNA, a successful Japanese company that has their hands in e-commerce, social networking, mobile gaming, travel, payments, and more.

<a href="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/03/Mikihiro-Yasuda-Image.jpg"><img class="alignnone size-full wp-image-88" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/03/Mikihiro-Yasuda-Image.jpg" alt="Mikihiro Yasuda Image" width="350" height="400" /></a>

<strong>What is DeNA’s goal of having a venture arm?</strong>
“We are a mobile and internet company looking to expand our portfolio by investing in great companies.” says Miki.

DeNA’s strategic investment in the Silicon Valley began in April of 2014. They hope to invest in companies that have aspirations to do business in Asia, as they feel their strengths are helping businesses flourish and grow there, especially in Japan.

Their investments, however, are not limited to those companies who want to grow into Asia. DeNA is stage agnostic, investing in pre-seed rounds to series A and beyond.

&nbsp;

<strong>As an investor, do you have a preference for the type of pitch when you are making the first connection? A pitch deck or a 1-pager?</strong>
“A pitch deck always helps, and I usually like to take a look at the product itself. I also like to understand the market and why the entrepreneur is doing what they are doing and who is on the team.”

&nbsp;

<strong>Do you prefer relationship-building with entrepreneurs before you invest or do you have a quick intro-to-deal turnaround?</strong>
“We usually do a quick turnaround with an average of 2 weeks. Typically, we meet the entrepreneur, we communicate over email, then meet again before the investment. Most of the relationship building happens after we invest, so we really try to understand the culture and ability of the team beforehand.”

&nbsp;

<strong>What forms of involvement do you have with your portfolio companies?</strong>
“For our seed stage investments, startups usually do not go overseas because they are focused on the US market. Because of this, our support may be minimal. We do have a studio in San Francisco focused on game tech. If there is a fit, we try to work together in the US market.”

“For portfolio companies that are ready to go to Asia, we will go with them and introduce them to key players including our business development team in Japan.”

&nbsp;

<strong>How do companies launching in Japan overcome the language barrier?</strong>
This is one of the biggest hesitations companies have that prevent them from launching in a non-english speaking part of the world.

“The first few people you hire need to be bilingual. They should have great connections and speak English.”

One of the challenges Miki hears all the time from non-Japanese companies is that they find good talent that is not bilingual.

“If you take the time, you can find the right people.” says Miki.

&nbsp;

<strong>How to work with DeNA</strong>
If you think your startup would be a good fit for DeNA, you can find Miki tweeting on Twitter <a href="https://twitter.com/mikihiro_yasuda">here</a>.