<h4>Looking for that Startup “Magic”</h4>

<p>
	All startups entrepreneurs are searching for the “magic” that will turn them into unicorn successes. We gaze at successful entrepreneurs and businesses trying to find traits to emulate or similar paths that will lessen the uncertainty of starting a new business.
</p>
<p class="text-center margin-top">
	<img src="img/articles/unicorn-lineup.jpg" alt="Unicorn Lineup">	
</p>
<p>
	What was his/hers billion dollar secret? How did that acquisition happen so fast? How can I build a company that will get me to an amazing exit so I can sit on a beach all day? Was it their go-to-market strategy? Was it their investors that helped them get acquired? How did they growth hack? What were the co-founders like so I can copy them?
</p>

<p>
	Peter Brack, an entrepreneur and investor with a 20 year track record of building businesses, sat down with us this week and what he believes contributes to the success of building a company.
</p>

<h4>All About That Brack</h4>

<p>
	Peter was co-founder and CEO of two companies, <a href="http://www.redgatemedia.com/">Redgate Media Group</a> and <a href="http://www.corp.omghk.com/home.htm">One Media Group</a>, both of which went public on the Hong Kong Stock Exchange.
</p>
<p>
	Redgate Media Group, which Mr. Brack co-founded in 2003, is a diversified television and outdoor media and entertainment company in China. Redgate Media merged with a public company on the Hong Kong Stock Exchange in 2012.
</p>
<p>
	Peter also co-founded and was CEO of One Media Group, a leading Chinese-language lifestyle and entertainment content publisher. One Media Group went public on the Hong Kong Stock Exchange in 2005.
</p>
<p>
	Prior to co-founding Redgate Media Group and One Media Group, Mr. Brack was a senior executive at Time Warner in Asia. There, he helped to launch CNN and Cartoon Network, managing advertising sales and internet activity for Turner Broadcasting. Later, he was responsible for the revenues and overall profitability of Time Inc in Asia. He oversaw the Hong Kong, Singapore, Tokyo, and Sydney offices.
</p>
<p>
	Peter is an active member of the internet and digital media communities in Los Angeles, New York, and in China and serves on several internet and mobile-related boards and advisory boards, and is an early stage venture and private equity investor. He currently serves as EIR at Mucker Capital in LA.
</p>

<h4>Brack’s Formula</h4>
<p>
	We asked Peter what his “secret sauce” was that made him so successful in his journey as an entrepreneur. Peter’s modesty was apparent in his response as he shied away from us singing his praises and insisted that he is still learning and growing. The eagerness in his voice to continue learning and striving for success was contagious.
</p>
<p class="text-center margin-top">
	<img src="img/articles/secret-sauce.jpg" alt="Secret Sauce Image">
</p>

<p>
	He believes his head start was moving to Asia right out of university. At that time, he recalls, not as many people or companies were talking about opportunities in Asia as they are now. Peter also believes getting the right first job contributed to his entrepreneurial career, which was at Time Warner Asia.
</p>

<p>
	That, paired with his ability to take risks, and knowing when to leave the corporate world to start his own business, and partnering with the right people, helped propel him onto the right path. Though, like many entrepreneurs, he can recount numerous moments which were pivotal in his success path, one very key turning point was leaving a job that seemed crazy to leave.
</p>

<h3 class="text-center green-text text-darken-4 margin-top">“You have to be very confident that what you’re building is going to work and so passionate about it that you’re willing to give up 5-10 years of your life to prove it”.
</h3>

<p class="margin-top">
	For Peter’s success story and “secret sauce”, the magic is making risky decisions like picking up your life and moving to Asia. Then, working your ass off in the corporate world. Finally, having the confidence and passion to leave a very successful corporate career for the path of startup success.
</p>
<p>
	It is glamorous and glorious isn’t it? Peter comments on this misconception that many want-to-be entrepreneurs have. He states matter-of-factly that what looks like success on the outside (which, many of the startup stories that are glorified in the media do look glamorous) hides a lot of the failures entrepreneurs must experience along the way.
</p>

<p>
	“You can always tell the glossy version of the story, or you can share the realities: it’s hard. It’s hard even when things are going well, but it’s so much fun and gratifying when you can work with talented people, and build something together”.
</p>

<h4>Brack’s Workstyle</h4>
<p>
	Spending most of his career in China, Peter comes from a China work philosophy which is work until your body has to sleep, and then work some more. His working style with building his own businesses and what contributed to his great successes was his dedication to living and breathing his business. He believes that this is what all early stage entrepreneurs must do when building their business.
</p>
<p>
	“You can say as much as you want that you are going to switch off and find balance. But, if you’re doing what you’re supposed to be doing, you’re living and breathing your business.” We can’t help but agree wholeheartedly.
</p>

<h4>Your Startup’s Big Exit and How To Get There</h4>
<p>
	When you hear about Peter’s success as an entrepreneur - taking two companies to IPO - you have to wonder what he did to get his startups there? A lot of startup entrepreneurs dream about exiting or going IPO. What pieces does one need to put in place for this to happen?
</p>
<p>
	Peter shares that it is extremely difficult to start a business thinking about the exit. Any entrepreneur who is in the early stages and is talking about exiting and how they are intending to exit is probably under a lot of false impressions that exits are simple -- and they are not. He adds that exits rarely happen how you expect them to.
</p>
<p>
	“There is certainly a lot of glamour that people bestow on exits - but they are often messy and it’s extremely hard to get there.”
</p>
<p>
	Peter also reminds us that the best businesses ever built might have had “liquidity events” along the way but no exits.
</p>
<p>
	“Essentially, if you’re thinking about your startup’s big exit, then you’re not building the right business. Building a business to make it a big solid business for generations to come is better. Opportunities will come if you build the right business and have the right intentions.”
</p>

<h4>Conclusions</h4>
<p>
	In the end the “secret sauce” and “magic” most early stage entrepreneurs search for is like that unicorn you are never going to find. Nothing replaces hard work, dedication, and time put in. Entrepreneurs should not build companies they are not committed to or willing to be committed to for years to come. The secret success is hard work, playing to your strengths, and constantly striving for improvement.
</p>

<h4>Work With Peter Brack and Mucker Capital</h4>

<p>
	Peter is EIR at <a href="http://www.muckercapital.com/">Mucker Capital</a>, a seed-stage venture capital group in Santa Monica. Mucker Capital was founded because the founders <a href="https://angel.co/willhsu">Will Hsu</a> and <a href="https://angel.co/erik-rannala">Erik Rannala</a> saw what a lot of people are seeing in the current market -- LA is gaining a lot of traction in the startup world and becoming an important market for entrepreneurs and those who fund them.
</p>
<p class="text-center margin-top">
	<img src="img/articles/mucker-capital-logo.png" alt="Mucker Capital Logo">
</p> 
<p class="margin-top">
	Mucker Capital is all about investing in the best seed-stage opportunities, primarily in LA, and helping them grow. They have an accelerator and fund, and can invest in companies through both. While the portfolio is “category agnostic,” the common thread is software-enabled solutions, and the best entrepreneurs. You can follow Mucker Capital on Twitter <a href="http://twitter.com/muckercapital">@muckercapital</a> and Peter Brack <a href="http://twitter.com/peterbrack">@peterbrack</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>