<p>
	I had the chance to sit down with Pierre Berlan of Fenox Venture Capital the other day and discuss Fenox, an exciting and relatively young venture firm founded in 2011 making waves in the venture capital industry.
</p>

<p>
	Fenox has raised 8 funds to date ranging from $20m to $200m in size. They have had fantastic growth and and are not your typical venture capital firm.
</p>

<p>
	What makes them different is their investors. Fenox is backed by active multinational corporations making between $1-10B in yearly revenue. They have partnered with Fenox to find the best startups and technology in the world, supplementing R&amp;D teams and sometimes even replacing them with investments that Fenox makes.
</p>

<p>
	Fenox is a global organization with offices in Silicon Valley, Southeast Asia, Japan, Korea and the Middle East. They specialize in bringing startups to Asia and have intimate knowledge of what works there. They believe strongly in global innovation, and are the first Silicon Valley firm to invest in Bangladesh.
</p>

<p>
	As a startup, the best time to engage Fenox is during the seed and series A stage. Fenox does remain stage agnostic and participates in follow-up rounds as well as pre-IPO deals in Japan. Roughly 60% of their total investments are in the US, 20% in Japan, and 20% in Southeast Asia.
</p>

<h4 class="margin-top">Doing Well While Doing Good in the World</h4>

<p>
	Fenox believes in giving back to the world by investing in companies coming out of countries like Bangladesh. In Bangladesh, investment can be difficult because of the laws that govern the country, yet Fenox invests nonetheless because they believe in Bangladeshi entrepreneurs. The firm has funded projects like Priyo, the Yahoo of Bangladesh. Fenox also heavily invests in Indonesia, where it sees massive market potential.
</p>

<h5 class="text-center margin-top">
	“We believe in the potential of people” - Pierre Berlan 
</h5>

<p class="text-center">
	<img src="img/articles/potential.jpg" alt="Potential">
</p>

<h4 class="margin-top">What are Interesting Technology Advances You're Personally Excited About?</h4>

<p>
	“I’m very excited about IoT because the opportunities are wide open. It feels like the very early days of the internet again. You have smart thermostats, smart lights, and smart everything. The problem I find interesting is how to control everything. Currently, you need to open individual apps to use each device, but there needs to be a better solution. It’s like watching android and apple all over again. There is opportunity to bring real change to people’s lives.”
</p>

<p>
	“In developing nations, mobile is huge. You are seeing people come on to mobile and skip the PC industry entirely. Traditional card payments do not work in developing countries - there are mobile payments instead. In Southeast Asia, they skipped the credit card industry completely and went directly to mobile.”
</p>

<h4 class="margin-top">Work with Pierre and Fenox Venture Capital</h4>

<p>
	Learn more about Fenox Venture Capital on their <a href="http://www.fenoxvc.com/">site</a>, and follow them on <a href="https://twitter.com/fenoxvc">Twitter</a> for the latest updates. You can learn more about Pierre <a href="http://www.fenoxvc.com/team/">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>