How does one roll the dice 3 times and come up successful 3 times?

Meet Rafat Alvi, a serial entrepreneur who has been a part of 3 successful startups in the past 8 years.

<img class="alignnone size-full wp-image-239" src="http://grape.navisocial.com/venturehacked/wp-content/uploads/sites/3/2015/03/RafatAlvi_Pic.jpg" alt="RafatAlvi_Pic" width="350" height="400" />

Now, Rafat is working on his new venture, <a href="http://funnelbeam.com/">FunnelBeam</a>, a company that helps you close more sales with its machine learning algorithms.

We wanted to know how all 3 companies set themselves up for successful exits. This is Rafat’s story.

&nbsp;
<h2>The 3 companies - Zenprise, His Black Box, and Eduify</h2>
Zenprise, which provides mobile device management solutions to enterprises, was sold to Citrix.

His Black Box, a men’s only subscription concierge service for consumables products, was acquired by Men’s Science.

And Eduify, which helped students learn to write better and research faster, sold their assets to Kno.

&nbsp;
<h2>What was the main reason for Zenprise’s acquisition?</h2>
“There was a really strong product market fit.” said Rafat. “We would have continued to grow the company and go IPO if the offer for acquisition had not come. Of our major competitors, one went IPO and one had a huge exit.

&nbsp;
<h2>What about His Black Box?</h2>
“With His Black Box, we recognized we needed to raise a lot of capital to compete with Birchbox.”

The Black Box team had to decide what was best for the company - would it be selling the company or raising capital to compete? Ultimately, the team decided that acquisition was the best route.

“Men’s Science wanted to enter the consumer vertical and we had the customers, so an acquisition was the perfect fit.”

&nbsp;
<h2>And how did the exit with Kno happen at Eduify?</h2>
“We built a lot of software assets that were very valuable to companies. Our assets fit very well into Kno’s overall strategy. At the time they were trying to build a tablet for the education vertical, so by acquiring us they saved 12 to 18 months of development work.”

&nbsp;
<h2>The common thread</h2>
“We never set out to be acquired.” says Rafat when commenting on Zenprise. Yet, though this was not the intended outcome, this was the outcome of all 3 companies.

And though each of these companies had different exit scenarios, they shared a common thread of having at least 1 of 3 things that made them valuable and appealing to acquirers - customers, product, and/or the people.

Keep the three elements that Rafat highlighted when building your company, but also build it to be a company that will last through the years, not something you intend to sell. It’s surprisingly not a factor at all in any of the acquisition scenarios.

&nbsp;

You can find Rafat on <a href="https://angel.co/rafat-alvi">Angel List</a> and learn more about his venture <a href="http://funnelbeam.com/">FunnelBeam here</a>.

&nbsp;

<strong>About the Author</strong>
This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.