<h4 class="margin-top">Meet Ramneek and Citi Ventures</h4>

<p>
	Ramneek is Managing Director and Co-head of Global Venture Investing at Citi Ventures. Before Citi, he was a partner at Battery Ventures where he focused on the online-to-offline space and also helped build Battery's India investment efforts. 
</p>

<p>
	Citi Ventures is stage agnostic, however, most of its investments occur after the post product stage so Citi can pilot the product and test proof-of-concepts internally. Typical deals are in the Series A and B stages and may range from $3 to $10 million. Citi Ventures seeks to support its companies in multiple rounds and enjoys bringing new capabilities into its investments. This also requires a certain level of maturity in the business for Citi to be able to add value.
</p>

<p class="margin-top text-center">
	<img src="img/articles/citi-ventures-logo.png" alt="Citi Ventures Logo">
</p>

<h4 class="margin-top">Some of the ways Citi Ventures helps its portfolio companies succeed</h4>

<ol>
	<li>Access - Helping startups navigate a global organization like Citi and providing access to the right decision-makers and expertise</li>
	
	<li>Commercialization - Citi Ventures actively drives the process for proof-of-concept testing and pilots so its portfolio companies can learn how to work with enterprise-scale businesses and receive support on their path to revenue and profitability</li>
	
	<li>Reference customers - Getting portfolio companies in front of partners and relationships and serving as reference customer to help open doors into other enterprise accounts is another way Citi Ventures provides significant value to its startup partners</li>
	
	<li>Product road map advice - Giving advice and guidance on product road maps helps portfolio companies focus on what matters in winning over large enterprise customers</li>
</ol>

<h4 class="margin-top">What types of companies are you interested in?</h4>

<p>
	Citi Ventures invests in companies that address the specific needs of businesses and functions within Citi. There are 4 main themes:
</p>

<ol>
	<li>Financial Services &amp; Technology - Identifying emerging trends and new models in banking and financial services. One example portfolio company: <a href="https://www.betterment.com/">Betterment</a>.</li>
	
	<li>Commerce &amp; Payments – Uncovering ways to better engage consumers by providing innovative offers and leveraging new payment rails and programmable infrastructures. One example portfolio company: <a href="https://jet.com/">Jet.com</a>.</li>
	
	<li>Data &amp; Analytics – Finding new ways to easily manage and leverage our data to better engage customers and acquire new clients. One example portfolio company: <a href="http://www.ayasdi.com/">Ayasdi</a>.</li>
	
	<li>Security &amp; Enterprise IT – Proactively solving for next-gen security threats and fraud mitigation, and enabling flexible infrastructure. One example portfolio company: <a href="https://www.varmour.com/">vArmour</a>.</li>
</ol>

<h4 class="margin-top">What’s the biggest differentiator in investing decisions at Citi compared to a traditional venture firm?</h4>

<p>
	“The biggest differentiator at Citi Ventures is access to practitioners and experts that adopt technology. Prior to Citi Ventures, I had to get a sense of what a large customer would do with different technologies and talk to them. I spent a lot of time hunting to find the right people. Now, we have direct access so we are able to get very granular feedback on capabilities, the real problems a company may solve, whether the solution will scale etc. all of which helps us make better investment decisions and provide really specific, concrete insights and guidance to our portfolio companies.”
</p>

<p>
	“Who we invest with and why we invest is also different when compared with other venture capital firms. We work closely with our co-investors, who help to build these companies while we focus on the value we can deliver as Citi.” 
</p>

<p>
	You can find out more about Citi Ventures on their <a href="http://ventures.citi.com/ventures/index.html">website</a> and learn about the team <a href="http://ventures.citi.com/ventures/team.html">here</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>