<p>
	If you haven’t been around the block a few times as a tech entrepreneur, you should read this. I interviewed Rob Majteles, an experienced entrepreneur, investor, and board member about the experiences he has had during his tenure in the tech startup world. He shares 5 truths entrepreneurs should internalize and reflect on while building their business and career.
</p>

<h4>About Treehouse Capital and Rob Majteles</h4>
<p class="text-center margin-top">
	<img src="img/articles/treehouse-capital.png" alt="Treehouse Logo">
</p>
<p class="margin-top">
	<a href="http://treehousecapital.com/">Treehouse Capital</a> is Rob’s personal investment firm launched 15 years ago with the mission to invest in interesting people doing worthy things in tech. This ranges from investing in startups to public companies and from investing in venture funds to investing in hedge funds. Rob also serves as an active board member and advisory partner to a number of funds.
</p>

<p>
	Rob has taught at the business and law schools at Berkeley and Stanford. He worked and taught with Steve Blank to help turn his famous lean startup book, The Four Steps to the Epiphany: Successful Strategies for Products that Win, into a class.
</p>

<h4>Truth 1 - The CEO Success Factor</h4>

<p>
	Rob attributes the success of his companies to a variety of different factors, but realizes that his own strength in recruiting an excellent team was one of the very critical pieces that set his companies up to accomplish great things.
</p>

<h5 class="text-center margin-top green-text text-darken-4">“I was very good at recruiting great people to work with my companies and to work with me. I was good at convincing people to sacrifice things in their own career and life to do that.” - <i>Rob Majteles</i></h5>

<p class="margin-top">
	In Rob’s companies, many of his senior hires became CEOs after their exits, others retired. I’d say that’s a great track record in finding and cultivating the right people.
</p>

<p>
	“I never set out to be a CEO,” Rob says, “but communicating well and creating value is something that I ended up doing well. I was able to learn what people around me needed to be successful and help enable them to do their jobs better.”
</p>

<p>
	As an entrepreneur, selling your vision and selling a team of individuals to come work for you is crucial in your path to success. Without the right people, an idea will never get lifted off the ground. The synergy of a right team can be explosive to your growth.
</p>

<h4>Truth 2 - On Failure and Focus</h4>

<p>
	“My third company failed because I confused valuation for strategy.” Rob was building a company during the dot com era. He had an IPO ready to go in April 2000 when the markets pulled back and the IPO window closed. “All the way through I knew there was nonsense in the valuation and nonsense in trying to go public at the stage our company was in,” Rob recalls.
</p>

<p class="text-center margin-top">
	<img src="img/articles/ipo.jpg" alt="IPO image">
</p>

<p class="margin-top">
	He would ask his board about this IPO “strategy” and all they would ask him was what other thing was he working on that could create billions in value? He didn’t have an answer, no one did: The IPO itself became all that mattered. This strategy may have worked, if the markets had not turned at that crucial point in time.
</p>

<p>
	Though we are not currently in a market where startup IPOs are happening left and right, what we can learn from Rob’s story is the lesson of focus, and building something real. Many startups today are built with wrong intentions or distractions. In a booming economy with plenty of cash in the venture capital market to go around, we can’t forget as entrepreneurs to focus solely on building a solid company.
</p>

<h4>Truth 3 - Investors Are People Too</h4>

<p>
	I asked Rob what he loved about being an investor and board member. “I love being right about the people I back, and making money when we’re right. Sometimes I’m right about the people, and sometimes we don’t make money, but I still love it.”
</p>

<p>
	I constantly run into startup founders who are bootstrapped and almost scared to go out and fundraise. They are afraid they are not ready. They are afraid they won’t say the right thing to impress the investor. They are probably most afraid of failure (but who would ever say that aloud).
</p>

<p>
	Rob’s statement on why he is passionate about investing hopefully puts those reading this out there at ease. Investors are people too. They are not your boss, and they are not scary. They are people who are looking for other great people to work with. They are people looking for people they want to work through the hard problems with. And the greatest part is that most understand you may not be successful at your startup hypothesis and that’s okay.
</p>

<h4>Truth 4 - Your Startup’s Internal Culture</h4>

<p>
	There are a lot of conflicting messages out in the universe about cultures in companies and what type of culture you should build. Can one culture fit all? Should you build a culture like Google? What about Netflix?
</p>

<h2 class="margin-top text-center green-text">“Authenticity.”</h2>

<p class="margin-top">
	This seems like common sense, but many times is not. There is great pressure to do what everyone else is doing, but just like lessons for entrepreneurs are not one-size-fits-all, neither are cultures.
</p>

<p>
	“Bad cultures are where the authenticity is hidden.” Rob says. “If you’re a yeller, go ahead and be a yeller. Make sure you don’t pretend like you’re not. Create an environment true to your personality.”
</p>

<h4>Truth 5 - External Startup Culture</h4>

<p>
	Culture in our external environment is just as important as what we build internally. The standards of conduct we set for ourselves and for others dictate the way our industry is shaped. A big question we should all ask ourselves, and one that Rob feels passionately about, is how we are shaping the environment around us.
</p>

<p>
	“It’s very unfortunate that people don’t pay a high enough reputational price for bad behavior. Every business has its people, but sometimes the startup world is too forgiving and we tolerate too much behavior that is not okay.”
</p>

<p>
	True. And with recent events such as the Ellen Pao v Kleiner Perkins gender discrimination case, the Uber’s sabotage tactics against Lyft, and so many more, we should ask ourselves why we have allowed our industry to become one that reflects poor values, and what we can do to reshape the world around us.
</p>

<h4>A Note About Choosing Investors and Advisors</h4>

<p>
	We meet people every day and I interview investors for Venture Hacked on a frequent basis. I love meeting different personalities getting behind different views related to entrepreneurship and investment. But, my meeting with Rob was different than most.

</p>

<p>
	5 minutes into the conversation, Rob had somehow convinced me that I needed him on my team. Mentor? Advisor? Investor? The funny part is that I’m wasn’t even looking. As a startup CEO, when evaluating investors, advisors, or mentors, you should look for that magical click that makes you believe you can be business partners with that person/those people. And, hopefully the feeling is mutual. One would hope you share the same vision, aspirations, and communication styles so that the relationship lasts a long lifetime (or at least a decade).
</p>

<p>
	The concept of taking time to find the right investors fits into the hire slow, fire fast mentality that most startup CEOs don’t take the time to do when fundraising. As entrepreneurs, I think we’d all be better off if we began thinking of investors along these lines. We’d have a much better chance of success, much like you have a much better chance of success growing your startup if you hire the right employees.
</p>

<p>
	Rob’s responses to my questions are similar to those you should look for when interviewing investors. Actually, they are better than most. Hopefully this article also gives you a better idea of what you might look for in an investor or advisor.
</p>

<h4>Learn More About Rob Majteles and Treehouse Capital</h4>
<p>
	You can follow Rob on Twitter <a href="http://twitter.com/treehcapital">@treehcapital</a> or read up on Treehouse Capital <a href="http://treehousecapital.com">here</a>.	
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>