<p>
	Where is the future of technology going and what will happen to the startup industry in the next few years?
</p>
<p>
  With talks of a pending market crash and the uncertainty of the presidential election, it’s easy to think that the success for many early startups’ futures is going to disappear.
</p>
<p>
	But, with the continuous outpour of investments for early stage startups and large investments being made in VR, IoT, and other promising technologies, we wanted to get perspective from a seasoned venture capital professional, Sanjit Dang, investment director at Intel Capital.
</p>


<h4>About Sanjit</h4>
<p class="margin-top">
	<img src="img/investors/sanjit-dang.jpg" alt="Sanjit Dang">
</p>
<p class="margin-top">
	At Intel Capital, Sanjit drives investments in client computing across consumer and enterprise sectors and has driven several investments in big data, IoT and cloud computing.
</p>
<p>
  Sanjit has over a decade of executive leadership experience in product design, business development and strategy across several domains: big data, natural language processing, 3D camera/apps, supply-chain analytics and flash memory. He has managed billion dollar accounts and executed >30 partnership deals in $100M-$2B range.
</p>
<p>
  He’s currently an investor in a few companies including DocuSign (eSignature), Reflektion (eCommerce), MongoDB (NoSQL Database), Enlighted (IoT), Mirantis (Cloud Computing), GoodData (SaaS BI) and Arcadia Data (Data Analytics 2.0). Sanjit has had 2 exits within 1 year of investment - Basis Science (Wearables, acq Intel) and Maginatics (Cloud Storage, acq EMC).
</p>

<p class="margin-top">
	<img src="img/articles/intel-capital.jpg" alt="intel capital logo">
</p>

<h4 class="margin-top">Intel has one of the most successful investment portfolios in the industry. What’s the secret sauce?</h4>

<p>
	“We focus on product market fit and teams that can execute. Becoming a successful venture firm takes time, as it takes time to understand the investment landscape and have experience. Intel Capital has been investing for more than 25 years, so we have that knowledge.”
</p>

<p>
	“The lessons, successes, and challenges we’ve seen over the years has come in handy for our current investments. We also have a rigorous internal review process and do deep diligence on our investments before we put money in. This ranges from product technology, financials, sales pipelines, customer interviews, and doing our own checks beyond what the companies tell us.”
</p>

<h4 class="margin-top">
	What is one of the biggest lessons you’ve learned in your experience as a venture capitalist?
</h4>

<p>
	“Markets move. You can have a good company trying to find the right market, but as technology, the economy, and other factors change, many startups end up out of business. A great example of markets moving is the mobile shift we are currently experiencing. This is one of the biggest shifts in the industry. Companies that are not embracing mobile will have a pretty hard time succeeding in the future. As a venture capitalist, I’ve learned that it’s important to not only look at the initial target market, but how that market are moving.”
</p>

<h4 class="margin-top">
	What “cutting edge” technologies are you most passionate about at the moment?
</h4>
<p>
	“I’m quite passionate about machine learning. Machine learning is a universal term, but it’s interesting applied to devices that we use on a daily basis, professional or personal. With the advent of speech recognition and image recognition, our daily use devices are getting smarter but we are not there yet. There is plenty of opportunity to get smarter through machine learning technologies and I see a wave coming soon.”
</p>

<p>
	“Identity and authentication based technologies (not just biometrics) are fascinating as well, such as startups working on technology and devices that can understand and recognize me before I even type up my password.”
</p>

<h4 class="margin-top">
	What’s the next biggest thing startups and VCs should be on the lookout for?
</h4>
<p>
	“Connected devices. You can call it internet of things or connectivity everywhere. I envision that we are not going to be carrying devices anymore. There will be screens everywhere, and those screens will show me where I’m going, and who I am.”
</p>

<p>
	“I should not need a device. I should be able to go into a meeting and log into a device that’s already there. Same when I enter the car or when I’m at work. Carrying a device will become an archaic thing but it will take a few years to happen.”
</p>

<h4 class="margin-top">
	What are your thoughts on people the startup industry bubble?
</h4>
<p>
	“Valuations have risen to be on the higher side and there is potential for correction, but good startups with good market traction will not see a correction. Valuations need to be tied to company revenue not just hype. Companies that have raised money on hype vs revenue will see a correction, especially when public markets collapse.
</p>

<p class="margin-top">
	<img src="img/articles/unicorn-startup.png" alt="unicorn startup">
</p>

<h4 class="margin-top">
	Are “unicorns” affecting valuations and the startup ecosystem?
</h4>

<p>
	“Unicorns are a fairly well used term. You can call them leaders, stars, unicorns, but that doesn’t change the concept. The fact that a company can go from paper concept to IPO level in 6 years is phenomenal. I salute those entrepreneurs that can do that. They deserve to be unicorns, and yes, they are affecting the startup ecosystem and valuations.”
</p>

<p>
	“The venture capital industry can sometimes be a rat race. VCs will see companies like Uber be successful, and then try to find the next one. Most of the time, this is a wild goose chase. If you talk to successful CEOs, they’ll likely tell you that part of their success is timing and luck. The fact that they got to huge scale or exit is all because of timing and luck. Trying to chase the next big thing is like trying to predict the future.”
</p>

<h4>Get to Know Sanjit Dang and Intel Capital</h4>
<p>
	Be sure to follow Sanjit on Twitter <a href="http://twitter.com/sanjit66">@sanjit66</a> and Intel Capital <a href="http://twitter.com/intelcapital">@intelcapital</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>
