<p>
	We sat down with Sara Thomas of Maven Ventures the other day to discuss where startups should be focusing their time (and where they shouldn't). Sara also shared thoughts on how to be a successful entrepreneur, from thinking about vision to actual execution.
</p>
<h4>What do you wish all entrepreneurs understood better about building their business?</h4>
<p>
	We focus on direct to consumer products that people will use every day. One of the main things we tell entrepreneurs to focus on is a vision worth fighting for. We push our portfolio companies to articulate that vision worth fighting for - because this is what the business rallies around.
</p>
<p>
	When building a consumer product, you must ask yourself if the existing solutions are good enough and how much your solution actually improves things. Often entrepreneurs must face reality on whether it’s a good enough idea to pursue. Are you building a product that replaces a Facebook group? Are you building another Yelp? Is it necessary?
</p>

<h4>What do startups not spend time on that you wish they would?</h4>
<p>
	I already discussed vision. A few other areas that are important to focus on, but often overlooked, are culture and language-market fit.
</p>
<p>
	There is a lot of focus on product market fit but what about language-market fit? Does everyone describe things in the company the same way? If everyone sat down and spoke about the product, it’s important to make sure that from the CEO to the engineering team, each team member  is saying the same thing. The language you use shapes how customers perceive and interact with your product so is fundamental to acquiring and retaining early users.
</p>

<p>
	Culture is also key. Even if your company is 2 or 3 people, figuring out what the culture should be is important. Write it down and hire for that culture early on.</p>

<h4>What do startups spend too much time on?</h4>
<p>
	Pitching the wrong investors. Startups should spend as much time on their investor outreach plan as their business plan. Be strategic about who you pitch and why so you maximize your time and efforts.
</p>

<h4>Are there underlying themes that define success in a startup?</h4>
<p>
	Having a vision worth fighting for, being able to clearly define who they are to the consumer, and having a great in-house technical team.
</p>

<p>
	Great examples of this are Epic, the largest library for children’s books. For $5/mo consumers get unlimited streaming access- children can access books via technology. This is a worthy vision and great for kids, and also fundamentally a great business.

</p>
<p>
	Another great example is Shots, a mobile selife app. It’s cool, safe, and positive and discourages bullying that happens on other social media channels. They are able to articulate their vision and have built a product that people love which has grown rapidly to over 5M users.

</p>

<h4>Get to Know Sara and Maven Ventures</h4>
<p>
	Sara can be found tweeting at <a href="http://twitter.com/mavenvc" target="_blank">@mavenvc</a> and <a href="http://twitter.com/saraannet" target="_blank">@saraannet</a>. You can read about Maven Ventures and their current events <a href="http://mavenventures.com/" target="_blank">here</a>. Maven Ventures also has a great blog on startups <a href="http://jimscheinman.com" target="_blank">here</a>. This article titled <a href="http://jimscheinman.com/1-vision-worth-fighting-for/" target="_blank">Reason #1: Why Your Consumer Startup will Succeed</a> was quite compelling.

</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>