<h4 class="text-center green-text text-darken-4">Startups are all about the glitz and glamour, right?</h4>

<p class="margin-top">
	At least that is how they are portrayed in many media stories. But for many people that have never been through actually building a startup, they fail to understand the difficulties all entrepreneurs must go through. Even when things are going extremely well, there are fires to put out and issues to deal with.
</p>

<p>
	So, what are some of the common struggles an entrepreneur goes through and how does she address them? For this article, we address a few struggles entrepreneurs go through, but don’t mistake these as even 1% of the challenges you may experience if you decide to test your fate at entrepreneurship.
</p>

<p>
	We interviewed <strong><a href="http://www.pieraldi.com/">Stephen Pieraldi</a></strong>, a serial entrepreneur that has experienced great success (and failure) in his time as an entrepreneur.
</p>

<p>
	Stephen has had a long career in selling companies and taking them public. Neoforma, his first startup, went public in 2000 on Nasdaq. Stephen has also served as EIR at Gabriel Venture Partners. He is a frequent lecturer at UC Berkeley and MIT and is currently the Vice President of Engineering at Sideband Networks.
</p>

<p class="text-center margin-top">
	<img src="img/articles/sideband.jpg" alt="Sideband Logo">
</p>

<h4>The Best Investor You Can Recruit</h4>

<p>
	We have all heard the stories of good investors and bad investors. Many entrepreneurs have a hard time turning down money from investors (I mean, who woudn’t). But, the best thing you can do for yourself as an entrepreneur is recruit great investors and stay away from the bad ones.
</p>

<p>
	Stephen recalls one of his best investors: “The best investor I had was someone who gave me clear and unambiguous mentoring about my shortcomings and how to improve them (personally and in business). The illusion is that startup entrepreneurs are born with all the tools you need, but the truth is you are not. You need someone who will be a very clear and honest board member.”
</p>

<p>
	Find people who will be honest and aren’t afraid to tell you what the real deal is. This will serve you well during the good times and the hard.

</p>

<h4>Staying Away From Bad Relationships</h4>

<p>
	“Make sure you are aware when their is a clear and honest mismatch. An example would be someone who doesn’t understand or believe in the market.” Stephen says, as he recalls an investor he once had with a bias to blackberry versus apple (he was trying to get into the IOS market but this investor/board member was not convinced).
</p>

<p>
	“Remember, when you take money from a venture firm, board members become a construct of last money in so sometimes you don’t have a choice who you get, and they hold much more sway over the existing board members."
</p>

<h4>How To Communicate When Things Are Failing</h4>

<p>
	Stephen recalls a startup he worked with a few years ago that was in a very challenging and crowded market space. The CEO was chronically underfunded and everyone on the board and his investors were constantly trying to help him out with financing so he didn’t have to go the venture route (it would not have been optimal given the space he was in).
</p>

<p>
	When things got tough, the CEO made sure he always had clear, proactive messaging to his board members. Being abundantly clear when thing are going wrong is key. Long, winded statements are not necessary.
</p>

<p>
	“It was always clear and concise,” Stephen said. “He wasn’t afraid to tell us the bad news so we could help.”
</p>
<p>
	Here is an example of how easy clear and concise messaging can be to your board or investors.
</p>
<p>
	<ul>
		<li><strong>New position:</strong> We are now pressured to make sure our brand awareness is stronger than theirs.
		</li>
		<li><strong>New answer:</strong> Given our limited marketing budget, we have decided to create a marketing campaign with a message to make fun of these billboards to address them directly. We are also targeting Facebook ads in the zip codes these billboards are allocated.</li>
	</ul>


</p>

<p>
	When you have 10 million things to think about and you are growing your business, and board meetings are the last thing on your mind, it is always safe to default to the pattern above.
</p>

<h4>Destructive Board Members</h4>

<p>
	Well, hopefully bad board members don't exist in the first place. If you find yourself in a position where you’re stuck with a bad board member, Stephen recommends lobbying very carefully or finding another partner within the firm.
</p>

<p>
	“Sometimes you cannot choose and you are stuck with your sponsor.” Stephen says. He also provides a few interesting insights into the dynamics between a venture firm and a startup. 
</p>
<p>
	“If you are an “a-list” company, you can pull a lot with the firm if things are going well. Know your market value and work that leverage within your investors in the firm. The problem is, a lot of people don’t recognize their value.”
</p>

<h4>Make Sure You're Not Lying to Yourself and Investors</h4>

<p>
	As a startup CEO, you are constantly trying to make your startup seem more attractive and appealing. But, the reality is you know it’s not going to work out. You hold on, hoping that something is going to change and make it better. You spend so much time trying to sell that things are going okay instead of trying to address the real hard problems. You wait around for the “hail mary” and when that doesn’t happen, you’re stuck.
</p>
<h5 class="text-center margin-top green-text text-darken-4">“The quicker you get out of that dreamy pollyanna state of success, the better it is for the success of your company.”</h5>

<p class="margin-top">
	The better approach is creating a roadmap of how you are going to turn the company around with goals and timelines that you will adhere to instead of pretending like "something" will change to change your current path and fate.
</p>

<p>
	I hope this article helped you navigate your own entrepreneurial journey! Follow us on <a href="http://twitter.com/venturehacked">@venturehacked</a> for updates or sign up for our newsletter. Stephen can be followed on Twitter <a href="https://twitter.com/pieraldi">@pieraldi</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>