
<p>
	<a href="http://en.wikipedia.org/wiki/Tom_Kalinske">Tom Kalinske</a> is the famed CEO that made <a href="http://www.sega.com/">Sega</a> of America a sensation in the North American market.
</p>
<p>
	He spearheaded the company during the 90’s and was known for his aggressive go-to-market strategies, one of the key factors that made Sega a success. If it wasn’t for Tom’s contributions, the video game industry would not be where it is today.
</p>
<p class="text-center margin-top">
	<img src="img/articles/tom-kalinske-bio.png" alt="Picture of Tom Kalinske">
</p>

<p class="margin-top">
	I sat down with Tom the other day and asked him a few questions about building companies. With his tenure and experience in multiple companies and being on both sides of the table, I found his advice was concise, practical, and thought-provoking.
</p>

<h4>What do you see most startups doing wrong when it comes to their go-to-market strategy?</h4>

<h5 class="text-center margin-top">	“If you have a strategy that anyone else can execute on, then you don’t have a strategy.” - <i>Tom Kalinske</i></h5>
<p class="margin-top">
	Many startups in the valley follow the same path and patterns to try and replicate success. Everyone loves best practices and standards for viral growth and customer acquisition. Yes, these are proven strategies that work, but have we been living in an echo chamber of eventual failure? Maybe.
</p>

<p>
	“Startups fall so much in love with their product or service but they are not aware of the market and competition. They don’t pay attention to what is going on. There are often a lot of similar products in the space. Or, everyone has the same strategy. A strategy must be completely unique or the product/service needs to be completely unique.”
</p>

<p>
	Tom challenges all startups to think outside the box and face reality. If you have a good idea, you are probably not the only one with that good idea. Small differentiators are not enough to get you ahead of the race, nor do small differentiators actually differentiate you.
</p>

<h4>In addition to growing many other successful companies, you brought Sega from $72 million to more than $1.5 billion in just 6 years. What did you do right?</h4>

<p>
	“My approach was having a unique strategy. WIth Sega you had a high priced machine, and yes, it was different than Nintendo, but it was not different in marketing. It did not have third party support and did not have American games. We also had a competitor that owned 95% of the market.”
</p>

<p>
	Tom’s ability to see the business at a high level and look objectively at the facts are one thing that differentiate him from startup founder/CEOs that get stuck cherishing their own babies and lack the ability to be objective about the market and strategy.
</p>

<p>
	Tom’s approach after reviewing the Sega’s product and the current market condition was aggressive and unapologetic. He took upfront risks that paid dividends later.
</p>

<p>
	“We lowered prices and put the best title (Sonic) in after making changes that catered to the American market. We had a lot of sports titles and made key sports legends a part of the product. We made fun of Nintendo in our ads. We gave Genesis Machines and new games to guys on college campuses to evangelize Sega for us. We invented Sonic 2sday. We helped establish the iDSA which became the ESA, and held the first all Video Game Exhibition that became E3.”
</p>

<p>
	Changing the target demographic of the video game industry and going after a wider audience was also genius.
</p>

<p>
	“We let Nintendo have the children’s demographic and went after college kids and teenagers. We were cool and cutting edge and knew that if older brother was playing, little brother would want to play as well.”
</p>

<p>
	Tom made these decisions despite the Japanese board hating every one of these ideas, but he had an agreement when he was hired to be allowed to make these decisions and they let him do it.
</p>

<p>
	He also attributes much of his success at Sega to his fantastic team in marketing, R&amp;D, and operations.
</p>

<p>
	“My team, Al Nilsen, Madeline Canapa, Diane Fornasier, Paul Rioux, Shinobu Toyoda, EB VanBuskirk, Joe Miller, Pam Kelly made the job really fun and easy.” says Tom.
</p>

<h4>Fostering a successful startup also means you must have a good company culture. What does a good company culture look like?</h4>

<h5 class="text-center margin-top">“I’ve been in several companies with different cultures.”</h5>
<p>
	<strong>On Mattel</strong>
</p>
<p>
	At Mattel, we were a product driven company. Product was everything and we protected the creative people and let them do what they needed to do.”
</p>
<p>
	“We used to have failure day where we celebrated failure. We celebrated great ideas that should have been successful for really good reasons, even if they weren’t successful.”
</p>
<p class="text-center margin-top">
	<img src="img/articles/mattel.png" alt="Mattel Logo">
</p>

<p>
	<strong>On Sega</strong>
</p>
<p>
	“Sega of America was product driven, while Sega of Japan was numbers and process driven. That being said, wildly successful efforts in the US such as sports and handheld game gear were successful in the US but not in Japan.”
</p>

<p class="text-center margin-top">
	<img src="img/articles/sega.jpg" alt="Mattel Logo">
</p>

<p>
	Based on Tom’s recollection it sounds like you must evaluate your culture and make sure it aligns with your overall company strategy and goals to be successful.
</p>

<h4>Conclusions</h4>
<p>
	My biggest takeaway after interviewing Tom for this is that startups must look at their companies without emotion when evaluating strengths and weaknesses, competition, and go-to-market strategy or have someone with the ability to do so at a high level to succeed.
</p>

<h4>Get to Know Tom Kalinske</h4>
<p>
	You can read more about the journey Tom Kalinske and team in the book Console Wars and follow him on <a href="https://twitter.com/thomastkalinske">Twitter</a>.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	{{tracy-bio}}
</p>