<h4>That LTR</h4>

<p>
	When you’re raising money for your startup, did you know that a long term relationship also comes with the money? Yep. 7-10 years, even.
</p>

<p>
	Here are 4 things you need to know about this relationship lifecycle. Tyler Peterson of Triangle Peak Partners comments on 4 key phases - dating, marriage, those “happy days”, and the break up.
</p>


<h4>About Tyler Peterson and Triangle Peak Partners</h4>

<p>
	Tyler is Google alumni who spent much of his career on Sheryl Sandberg’s analyst team in the earlier years of the company. Tyler’s position at Google led him to do internal consulting and strategy work for a number of businesses inside Google. With his experience of working on a variety of strategy projects for products such as AdWords and Google Checkout, it’s no surprise Tyler now serves as Vice President at Triangle Peak Partners.
</p>

<p>
	Triangle Peak Partners is a venture firm focused on tech, as well as private equity and growth equity in energy. They are active in all sectors of tech including enterprise software, marketplaces, and ad tech. Triangle Peak primarily invests in companies already generating revenue and raising their series B or later. They invest in a small number of seed deals as well.
</p>

<h4>Phase 1 - Dating</h4>

<p>
	Going out and finding venture capital can be as exhilarating as Tinder swiping right for the first time. There are, however, some things first timers should take into consideration.
</p>

<p>
	There is a perception that if a VC invests in a competitor, they will be interested in your startup too, but this is false. Tyler says this is the one common mistake many first time entrepreneurs make. Trying to “date” a VC who has invested in a competitor is a no-no.
</p>

<p>
	“If an entrepreneur is smart, they will look at a VC’s portfolio before they pitch. They should be thinking about their competitors and if there is a conflict of interest.” Tyler says.
</p>

<p>
	If you have a similar company not in direct competition with a VC’s portfolio company, that is great because it demonstrates that the VC understands your space, but if you are in direct competition with someone they have already invested in, it’s best to stay away.
</p>

<h4>Phase 2 - Getting Married</h4>

<p class="text-center margin-top">
	<img src="img/articles/lego-marriage.jpg" alt="Lego Marriage">
</p>

<h5 class="margin-top text-center">
	“We’ve passed on investments we liked because personalities did not line up”.
</h5>

<p class="margin-top">
	“The VC business is a relationship business.” says Tyler. “And as a founder/CEO raising money, you should be thinking about how much easier it is to fire an employee than it is an investor on your board.”
</p>

<p>
	Tyler stresses the importance of building trust early on in the relationship and having a good rapport.
</p>

<p>
	Entrepreneurs getting “married” to investors would be wise to heed this advice. If you can’t communicate with someone before you begin a relationship that may last a decade, imagine what the communication will (or won’t) be like when you hit that trough of disillusionment.
</p>

<h4>Phase 3 - Those “Happy Days”</h4>

<p>
	When things get bumpy in a relationship, it’s always a challenge to figure out how two parties are going to interact with each other and get through the tough times. In the VC/entrepreneur relationship, there are certain things VCs expect from the entrepreneur.
</p>

<p>
	“In the venture world, it’s always the companies that are performing badly that are taking up 90% of your time. And when a company is not going well, we expect honesty and full disclosure.” says Tyler.
</p>

<p>
	Tyler illustrates an example of what a relationship may look like if a company is failing. The company may go through a period of fast testing with 30 day iterative cycles and communicate results to the board. If the company fails to make their 30 day goals, then discussions happen about next steps.
</p>

<h4>Phase 4 - The Breakup</h4>

<p>
	“When it is time for a Founder/CEO to move on from the company, it can be a very upsetting time for them, but there are millions of dollars at stake and different constituencies that need to be considered.” says Tyler. This is often an extremely difficult thing to hear for a Founder/CEO and often a hard realization to come to.
</p>

<p>	
	Tyler recalls a company that was doing well but not amazing. The board thought the company could be doing better and was making suggestions, but the CEO was not budging. Because the entire board was aligned on one side and the CEO was on the other, the CEO was inevitably fired.
</p>

<p>
	I can imagine how difficult it is for a Founder/CEO to have to give up leading a company they started, but it is also crucial that founders, when time, come to terms with what may be best for the overall success of the company.
</p>

<h4>Getting to Know Tyler Peterson and Triangle Peak</h4>
<p>
	You can find Tyler tweeting at <a href="http://twitter.com/tyler_peterson2">@tyler_peterson2</a> and learn more about <a href="http://trianglepeakpartners.com">Triangle Peak Partners</a> here.
</p>

<h5 class="margin-top">About the Author</h5>
<p>
	This article was written by Tracy Lee (<a href="http://twitter.com/ladyleet">@ladyleet</a>), a serial entrepreneur with over 12 years of experience in the startup space. In her free time she serves as an advisor to startups, speaks on digital marketing at conferences, writes cookbooks, and blogs about food at <a href="http://deliciousduo.com/">deliciousduo.com</a>.
</p>