<div class="container background-white">
	<div class="row">
		<div class="col s12 green-text text-darken-4">
		</div>
	</div>
	{{!-- video --}}
	<div class="row">
		<div class="col s12 text-center">
			<h3 class="green-text text-darken-3">Speed Investing &amp; Lessons Learned</h3>
			<h5 class="green-text">Join our <a href="http://www.meetup.com/venturehacked/">Silicon Valley</a> or <a href="http://meetup.com/triangleventurehacked">Triangle</a> mailing list on meetup.</h5>
		</div>
		<div class="col s12 text-center">
			<div class="video-container">
				<iframe src="https://player.vimeo.com/video/128109370" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p><a href="https://vimeo.com/128109370">View on Vimeo</a></p>
			</div>
		</div>
	</div>
	{{!-- end video --}}
	{{!-- sponsor --}}
	<div class="row">
		<div class="col s12 text-center">
			<img class="responsive-img" src="img/perkins-coie-logo.JPG" alt="Perkins Coie">
			<p>Need to set up your company to prepare for fundraising? Email {{perkins-coie-contact}}. Reference Venture Hacked for a free consult.</p>
		</div>
	</div>
	{{!-- end sponsor --}}

	{{!-- events --}}
	<div class="row">
		<div class="col s12 green-text text-darken-4">
			<h3>Upcoming Events</h3>
			{{#each model.refined as |event|}}
				{{#link-to 'event' event}}
					{{#md-card title=event.date titleClass="green-text" image=event.image}}
						{{#md-card-content}}
							{{link-to "Registration & Details" "event" event}}
						{{/md-card-content}}
					{{/md-card}}
				{{/link-to}}
			{{/each}}

		</div>
	</div>

	{{!-- investors --}}
	<div class="row">
		<div class="col s12 green-text text-darken-4">
			<h3>Investors &amp; Mentors</h3>
		</div>
		{{#each model.investors as |investor|}}
			{{investor-profile-card investor=investor}}
		{{/each}}
	</div>
	{{!-- end investors --}}
</div>
