<div class="container background-white">
	<div class="row">
		<div class="col s12 green-text text-darken-4">
		</div>
	</div>
	{{!-- video --}}
	<div class="row">
		<div class="col s12 text-center">
			<h3 class="green-text text-darken-3">Speed Investing &amp; Lessons Learned</h3>
			<h5 class="green-text">Stay tuned for our next event in October!</h5>
			<h5 class="green-text">Join our mailing list on <a href="http://www.meetup.com/venturehacked/">meetup</a>.</h5>
			{{!-- <h5 class="green-text">Wednesday, July 22, 2015 7pm-930pm</h5>
			<h5 class="green-text">@ Perkins Coie HQ (3150 Porter Drive, Palo Alto)</h5> --}}
		</div>
		<div class="col s12 text-center">
			
			<div class="video-container">
				<iframe src="https://player.vimeo.com/video/128109370" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/128109370">View on Vimeo</a></p>
			</div>
		</div>
	</div>
	{{!-- end video --}}
	{{!-- sponsor --}}
	<div class="row">
		<div class="col s12 text-center">
		<img class="responsive-img" src="img/perkins-coie-logo.JPG" alt="Perkins Coie">
		<p>Need to set up your company to prepare for fundraising? Email {{perkins-coie-contact}}. Reference Venture Hacked for a free consult.</p>
	</div>
	</div>
	{{!-- end sponsor --}}
	{{!-- content cards --}}
	<div class="row event-content-card-height">
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green" bodyClass="white-text"}}
			<h5>Investor Panel</h5>
			<p>
				Hear from a seasoned investor panel lessons learned from seeing startups succeed and fail.
			</p>
			<p>
				Understand how the landscape of investment is changing and what investors are currently looking for.
			</p>
			{{/md-card-panel}}
		</div>
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green" bodyClass="white-text"}}
			<h5>Speed Investing &amp; Mentoring</h5>
			<p>
				Participate in rotating 3-minute sessions.
			</p>
			<p>
				Investors and mentors will get to effectively meet entrepreneurs with great ideas while entrepreneurs will get real time feedback from investors and mentors.
			</p>
			{{/md-card-panel}}
		</div>
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green" bodyClass="white-text"}}
			<h5>Format</h5>
			<p>
				<ul>
					<li>645-715 Registration &amp; Welcome</li>
					<li>715-730 Startup Panel</li>
					<li>730-800 Investor Panel</li>
					<li>800-900 Speed Investing &amp; Mentoring</li>
					<li>900-930 Networking</li>
				</ul>
			</p>
			{{/md-card-panel}}
		</div>
	</div>
	{{!-- end content cards --}}
	{{!-- eventbrite --}}
	{{!-- <div class="video-container eventbrite-container">
		<iframe src="//eventbrite.com/tickets-external?eid=16826664005&amp;ref=etckt" width="100%" height="600" frameborder="0" marginwidth="5" marginheight="5" scrolling="auto"></iframe>
		
		<div style="font-family: Helvetica, Arial; font-size: 10px; padding: 5px 0 5px; margin: 2px; width: 100%; text-align: left;">
			<a style="color: #ddd; text-decoration: none;" href="http://www.eventbrite.com/r/etckt" target="_blank">Online event registration</a>
			<span style="color: #ddd;"> for </span>
			<a style="color: #ddd; text-decoration: none;" href="https://www.eventbrite.com/e/venture-hacked-speed-investing-mentoring-tickets-16826664005?ref=etckt" target="_blank">Venture Hacked - Speed Investing &amp; Mentoring</a>
			<span style="color: #ddd;">powered by</span>
			<a style="color: #ddd; text-decoration: none;" href="http://www.eventbrite.com?ref=etckt" target="_blank">Eventbrite</a>
		</div>
	</div> --}}
	{{!-- end eventbrite --}}
	{{!-- moderator and keynote --}}
	<div class="row">
		<div class="col s12 m6 l6">
			{{#md-card title="Keynote Speaker" image="img/jeremy-edberg.jpg" activator=true}}
			{{#md-card-content}}
			<p>Jeremy Edberg, Angel Investor</p>
			{{/md-card-content}}
			{{#md-card-reveal}}
			<p>
				Jeremy is an angel investor and advisor for various incubators and startups, and is the cofounder of CloudNative.  He was the founding Reliability Engineer for Netflix, the largest video streaming service in the world and he ran ops for reddit, an online community for sharing and discussing interesting things on the internet that did more a billion pageviews a month at the time.  
			</p>
			<p>
				Jeremy also tech-edited the highly acclaimed AWS for Dummies.  Jeremy's expertise is in distributed computing, availability, rapid scaling, and cloud computing.  He holds a Cognitive Science degree from UC Berkeley. 
			</p>
			{{/md-card-reveal}}
			{{/md-card}}
		</div>
		<div class="col s12 m6 l6">
			{{#md-card title="Panel Moderator" image="img/alastair-goldfisher-280x200.jpg" activator=true}}
			{{#md-card-content}}
			<p>Alastair Goldfisher, VCJ &amp; peHUB</p>
			{{/md-card-content}}
			{{#md-card-reveal}}
			<p>Alastair Goldfisher is Venture Capital Editor of VCJ and peHUB, two Buyouts Insider publications. Alastair primarily reports on the venture capital industry, which includes fundraising, investments, sector trends, venture-backed M&amp;A, personnel news and other VC-related topics from startup to exit. </p>
			<p>Alastair has worked as a business journalist since 1994. Prior to joining the staff of VCJ in 2003, he was the founding editor of California CEO and before that he was a reporter with the San Jose Business Journal.</p>
			{{/md-card-reveal}}
			{{/md-card}}
		</div>
	</div>
	{{!-- end moderator and keynote --}}
	{{!-- moderator --}}
	{{!-- <div class="row">
		<div class="col s12 green-text text-darken-4">
			<h3>Featured Panel Moderator</h3>
			<div class="card-panel z-depth-1 bio-card">
				<div class="bio-image-container">
					<img src="img/alastair-286x500.jpg" alt="Alastair Image">
				</div>
				<div class="bio-content">
					<p>Alastair Goldfisher is Venture Capital Editor of VCJ and peHUB, two Buyouts Insider publications. Alastair primarily reports on the venture capital industry, which includes fundraising, investments, sector trends, venture-backed M&amp;A, personnel news and other VC-related topics from startup to exit. Alastair has worked as a business journalist since 1994. Prior to joining the staff of VCJ in 2003, he was the founding editor of California CEO and before that he was a reporter with the San Jose Business Journal.</p>
				</div>
			</div>
		</div>
	</div> --}}
	{{!-- investors --}}
	<div class="row">
		<div class="col s12 green-text text-darken-4">
			<h3>Featured Investors &amp; Mentors</h3>
			<p>To view previously featured investors, visit the {{#link-to "investors"}}investors page{{/link-to}}.</p>
		</div>
		{{#each content as |investor|}}
		{{investor-profile-card investor=investor}}
		{{/each}}
	</div>
</div>