<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="green-text text-darken-4">Media Coverage</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s6 center-align">
      <img class="responsive-img" src="img/media/media-logos/wral-techwire-logo.png" alt="itd be fun to put easter eggs in here.">
    </div>
    <div class="col s6 center-align">
      <img class="responsive-img" src="img/media/media-logos/raleigh-innovation-logo.png" alt="hi! do you really want to know there is a logo here? smiley face.">
    </div>
  </div>
  <div class="row">
    <div class="col s6 center-align">
      <img class="responsive-img" src="img/media/media-logos/sharplite-media-logo.jpeg" alt="this is the sharplite logo">
    </div>

  </div>

  <div class="row">
    <div class="col s12 margin-top-45">
      {{#md-card title="WRAL TechWire" titleClass="green-text text-darken-2" image="img/media/wral.png"}}
      {{#md-card-content}}
      {{/md-card-content}}
      {{#md-card-action}}
        <a href="http://wraltechwire.com/venture-hacked-set-to-launch-in-the-triangle/15512669/">Read the full story</a>
      {{/md-card-action}}

      {{/md-card}}
    </div>
    <div class="col s12">
      {{#md-card title="Innovation Raleigh" titleClass="green-text text-darken-2" image="img/media/innovation-raleigh.png"}}
      {{#md-card-content}}
      {{/md-card-content}}
      {{#md-card-action}}
        <a href="http://www.innovationraleigh.com/go/">Visit Innovation Raleigh</a>
      {{/md-card-action}}

      {{/md-card}}
    </div>
    <div class="col s12">
      {{#md-card title="SharpLite Media" titleClass="green-text text-darken-2" image="img/media/sharplite-media.png"}}
      {{#md-card-content}}
      {{/md-card-content}}
      {{#md-card-action}}
        <a href="http://www.sharplitemedia.com/blog/events/2015/7/28/speed-investing-lessons-learned-venture-hacked-april-29-2015">Read the full story</a>
      {{/md-card-action}}

      {{/md-card}}
    </div>
  </div>

</div>
