<div class="container">
	<div class="row">
		<div class="col s12">
			<h2 class="green-text text-darken-4">Sponsors</h2>
			<h5 class="green-text">Raise brand awareness, do social good, and connect with your target audience.</h5>
		</div>
	</div>
	{{sponsor-actual}}
</div>
<div class="container-fluid">
	<div class="row">
		{{sponsor-image}}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12">
			<h4 class="green-text text-darken-4">Benefits</h4>
			{{#list-item}}Exposure to an audience of investors &amp; entrepreneurs{{/list-item}}
			{{#list-item}}Access to network &amp; promote your company{{/list-item}}
			{{#list-item}}Showcase your organization in a new and innovative way{{/list-item}}
			{{#list-item}}Give back to the startup community{{/list-item}}
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h4 class="green-text text-darken-4">Level Up</h4>
		</div>
		<div class="col s12">
			Interested? Contact us <a href="mailto:hi@venturehacked.com">hi@venturehacked.com</a>.
		</div>
	</div>
	<div class="row card-height-615-lg">
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green text-darken-1 sponsor-card z-depth-2" bodyClass="white-text"}}
			<div class="text-center">
				<h5><b>DIAMOND $3000</b></h5>
			</div>
			<div class="text-center">
				<i class="fa fa-diamond large light-blue-text text-lighten-4"></i>
			</div>
			<div>
				<ul>
					<li class="mdi-action-done">Recognized as “Presenting Sponsor”</li>
					<li class="mdi-action-done">5 minute Q&amp;A presentation feature</li>
					<li class="mdi-action-done">Panel seat</li>
					<li class="mdi-action-done">Unlimited banner and display placement</li>
					<li class="mdi-action-done">Offer a prize via raffle (eg. iPhone, netbook, software)</li>
					<li class="mdi-action-done">All benefits of Gold Sponsorship</li>
					<li class="mdi-action-done">Four tickets to the event (option for 1 to participate in speed investing &amp; mentoring)</li>
				</ul>
			</div>
			{{/md-card-panel}}
		</div>
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green darken-1 sponsor-card z-depth-2" bodyClass="white-text"}}
			<div class="text-center">
				<h5><b>GOLD $1500</b></h5>
			</div>
			<div class="text-center">
				<i class="fa fa-trophy large yellow-text"></i>
			</div>
			<div>
				<ul>
					<li class="mdi-action-done">Mentioned in media interviews promoting the event</li>
					<li class="mdi-action-done">Recognized as “Featured Partner”</li>
					<li class="mdi-action-done">Speak to audience for 1 minute</li>
					<li class="mdi-action-done">Access to set up booth for your company</li>
					<li class="mdi-action-done">Identified in media materials</li>
					<li class="mdi-action-done">Company logo listed on websites</li>
					<li class="mdi-action-done">Recognition during event</li>
					<li class="mdi-action-done">Opportunity to hang 1 banner at event</li>
					<li class="mdi-action-done">Hand out materials and/or swag</li>
					<li class="mdi-action-done">Two tickets to event (option for 1 to participate in speed investing &amp; mentoring)</li>
				</ul>
			</div>
			{{/md-card-panel}}
		</div>
		<div class="col s12 m12 l4">
			{{#md-card-panel class="green darken-1 sponsor-card z-depth-2" bodyClass="white-text"}}
			<div class="text-center">
				<h5><b>SILVER $750</b></h5>
			</div>
			<div class="text-center">
				<i class="fa fa-certificate large grey-text text-lighten-1"></i>
			</div>
			<div>
				<ul>
					<li class="mdi-action-done">Company logo listed on websites</li>
					<li class="mdi-action-done">Recognition during event</li>
					<li class="mdi-action-done">Opportunity to display a sign or banner on the food table</li>
					<li class="mdi-action-done">Hand out materials and/or swag</li>
					<li class="mdi-action-done">Two tickets to event (option for 1 to participate in speed investing &amp; mentoring)</li>
				</ul>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
	<div class="row text-center">
		<div class="col s12">
			<h2 class="green-text text-darken-4">Previous Sponsors</h2>
		</div>
		<div class="col s12">
			<img class="responsive-img" src="img/wingman-logo.jpg" alt="Wingman">
		</div>
		<div class="col s12">
			<img class="responsive-img" src="img/studlii-logo-2.png" alt="Studlii">
		</div>
		<div class="col s12">
			<img class="responsive-img" src="img/flickflyer-logo.png" alt="Flickflyer">
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		{{sponsor-image-bottom}}
	</div>
</div>
